/**
 * Rotate Tool Player Styles
 *
 * Author Matus Laco, http://www.yofla.com/3d-rotate/
 *
 * For player version 1.6.2 and above
 *
 * @updated 2015-06-01
 * @version 2
 *
 */


div.rotate-tool-instance{
}

div.rotate-tool-instance:fullscreen{
	width: 100%;
	height: 100%;
}

div.rotate-tool-instance:fullscreen::backdrop{
}


div.rotate-tool-button
{
    width: 25px;
    height: 25px;
    cursor: pointer;
    background-repeat: no-repeat;
    background-size: 50px 25px;
}

div.rotate-tool-button:hover
{
    background-position: -25px;
}


div.rotate-tool-button-start{
	margin-left: 38%;
    top: 40%;
    width: 120px;
    height: 60px;
    cursor: pointer;
    background-repeat: no-repeat;
    background-size: 240px 60px;
    background-image: url(button-start.png);
}
div.rotate-tool-button.rotate-tool-button-start:hover
{
    background-position: -120px;
}



div.rotate-tool-button-play{
    left: 5px;
    bottom: 5px;
    background-image: url(button-play.png);
}

div.rotate-tool-button-left{
    left: 35px;
    bottom: 5px;
    background-image: url(button-left.png);
}

div.rotate-tool-button-right{
    left: 65px;
    bottom: 5px;
    background-image: url(button-right.png);
}

div.rotate-tool-button-up{
    left: 95px;
    bottom: 5px;
    background-image: url(button-up.png);
}

div.rotate-tool-button-down{
    left: 125px;
    bottom: 5px;
    background-image: url(button-down.png);
}

div.rotate-tool-button-zoom-in{
    left: 130px;
    bottom: 5px;
    background-image: url(button-zoom-in.png);
}

div.rotate-tool-button-zoom-out{
    left: 160px;
    bottom: 5px;
    background-image: url(button-zoom-out.png);
}

div.rotate-tool-button-fullscreen{
    right: 5px;
    bottom: 5px;
    background-image: url(button-fullscreen.png);
}

div.rotate-tool-zoomslider{
    width: 110px;
    height: 25px;
    left: 190px;
    bottom: 5px;
    background-image: url(zoomslider-bar.png);
    background-repeat: no-repeat;
}

div.rotate-tool-zoomslider-handle{
    width: 10px;
    height: 25px;
    left: 0px;
    bottom: 0px;
    background-image: url(zoomslider-handle.png);
    background-repeat: no-repeat;
    background-size: 20px 25px;
}


div.rotate-tool-button-toggle-rotate{
    left: 304px;
    bottom: 5px;
    background-image: url(button-rotate.png);
}

div.rotate-tool-button-toggle-pan{
    left: 333px;
    bottom: 5px;
    background-image: url(button-pan.png);
}

div.rotate-tool-zoomslider-handle:hover{
    background-position: -10px;
}

div.rotate-tool-hotspot-default{
    width: 22px;
    height: 22px;
    border-radius: 14px;
    border: 2px solid white;
    opacity: 0.75;
    filter: Alpha(Opacity=75);
    background-color: deepskyblue;
	background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABYAAAAWCAYAAADEtGw7AAAAMElEQVRIx2NgGAWDAvz//3/mfwTYPWrwIDUYqDHtP+lg5qjBxBs8mtyGmcGjgCIAAG/Yc/D2udsVAAAAAElFTkSuQmCC);
}


div.rotate-tool-tooltip-wrapper{

}

/**
 * The wrapper div for the Image Title for the Image Hotspot
 */
div.rotate-tool-image-hotspot-title{
	background-color : #000000;
	position: absolute;
	left: 0px;
	bottom: 0px;
	padding : 10px;
	opacity : 0.75;
}

/**
 * The Title of the Image Hotspot is written inside of this div.
 */
div.rotate-tool-image-hotspot-title-inner{
	font-family : sans-serif;
	color : white;
	font-size : 18px;
	text-align : left;
}

@media screen and (max-width: 380px) {
	div.rotate-tool-button-right{
		left: 61px;
	}

	div.rotate-tool-button-zoom-in{
		left: 91px;
	}

	div.rotate-tool-button-zoom-out{
		left: 117px;
	}

	div.rotate-tool-zoomslider{
		left: 145px;
	}

	div.rotate-tool-button-toggle-pan{
		right: 5px;
		bottom: 33px;
		left: auto;
	}

	div.rotate-tool-button-toggle-rotate{
		right: 5px;
		bottom: 59px;
		left: auto;
	}
}

