/*
--------------------------------------------
ESTRUTURAÇÃO BASE (Palupa Framework v1)
--------------------------------------------
*** BODY
**** TOPO
**** RODAPÉ
**** COPYRIGHT
**** ESTILOS GERAIS PARA AS PÁGINAS
**** ESTILOS GERAIS PARA AS PÁGINAS INTERNAS
**** PÁGINA INICIAL
**** PÁGINAS INTERNAS
**** EXTRAS
**** BOTÕES
**** @MEDIA
*/

/* BODY */
	body{
		
	}
	#content
{
       width: 100%;
    height: 300px;
    border: none;
}
.wr360_player{
    width: 100%!important;
    height: 300px!important;
}
.wr360container_wr360PlayerId{
	     width: 100%!important;
    height: 300px!important;
}
.wr360_player .container{
	     width: 100%!important;
    height: 300px!important;
}
.wr360image_wr360PlayerId{
    display: block!important;
    margin-left: 0px!important;
    margin-top: 23.4167px!important;
    width: 100%!important;
    height: 268.1667px!important;
}
.wr360_player .container .panning2, .wr360_player .container .panning{
	width: 100%!important;
    display: block!important;
    margin-left: 0px!important;
    margin-top: -7.583px!important;

    height: 309.1667px!important;
}

	/*FONTS EXTRAS*/
		@font-face {
		    font-family: 'gotham_bookregular';
		    src: url('../fonts/gotham_book-webfont.eot');
		    src: url('../fonts/gotham_book-webfont.eot?#iefix') format('embedded-opentype'),
		         url('../fonts/gotham_book-webfont.woff2') format('woff2'),
		         url('../fonts/gotham_book-webfont.woff') format('woff'),
		         url('../fonts/gotham_book-webfont.ttf') format('truetype'),
		         url('../fonts/gotham_book-webfont.svg#gotham_bookregular') format('svg');
		    font-weight: normal;
		    font-style: normal;

		}




		@font-face {
		    font-family: 'gotham_blackregular';
		    src: url('../fonts/gotham-black-webfont.eot');
		    src: url('../fonts/gotham-black-webfont.eot?#iefix') format('embedded-opentype'),
		         url('../fonts/gotham-black-webfont.woff2') format('woff2'),
		         url('../fonts/gotham-black-webfont.woff') format('woff'),
		         url('../fonts/gotham-black-webfont.ttf') format('truetype'),
		         url('../fonts/gotham-black-webfont.svg#gotham_blackregular') format('svg');
		    font-weight: normal;
		    font-style: normal;

		}




		@font-face {
		    font-family: 'gotham_boldregular';
		    src: url('../fonts/gotham-bold-webfont.eot');
		    src: url('../fonts/gotham-bold-webfont.eot?#iefix') format('embedded-opentype'),
		         url('../fonts/gotham-bold-webfont.woff2') format('woff2'),
		         url('../fonts/gotham-bold-webfont.woff') format('woff'),
		         url('../fonts/gotham-bold-webfont.ttf') format('truetype'),
		         url('../fonts/gotham-bold-webfont.svg#gotham_boldregular') format('svg');
		    font-weight: normal;
		    font-style: normal;

		}




		@font-face {
		    font-family: 'gotham_lightregular';
		    src: url('../fonts/gotham-light-webfont.eot');
		    src: url('../fonts/gotham-light-webfont.eot?#iefix') format('embedded-opentype'),
		         url('../fonts/gotham-light-webfont.woff2') format('woff2'),
		         url('../fonts/gotham-light-webfont.woff') format('woff'),
		         url('../fonts/gotham-light-webfont.ttf') format('truetype'),
		         url('../fonts/gotham-light-webfont.svg#gotham_lightregular') format('svg');
		    font-weight: normal;
		    font-style: normal;

		}




		@font-face {
		    font-family: 'gotham_mediumregular';
		    src: url('../fonts/gotham-medium-webfont.eot');
		    src: url('../fonts/gotham-medium-webfont.eot?#iefix') format('embedded-opentype'),
		         url('../fonts/gotham-medium-webfont.woff2') format('woff2'),
		         url('../fonts/gotham-medium-webfont.woff') format('woff'),
		         url('../fonts/gotham-medium-webfont.ttf') format('truetype'),
		         url('../fonts/gotham-medium-webfont.svg#gotham_mediumregular') format('svg');
		    font-weight: normal;
		    font-style: normal;

		}

		@font-face {
		    font-family: 'pr8_charaderegular';
		    src: url('../fonts/pr8_charade-webfont.eot');
		    src: url('../fonts/pr8_charade-webfont.eot?#iefix') format('embedded-opentype'),
		         url('../fonts/pr8_charade-webfont.woff2') format('woff2'),
		         url('../fonts/pr8_charade-webfont.woff') format('woff'),
		         url('../fonts/pr8_charade-webfont.ttf') format('truetype'),
		         url('../fonts/pr8_charade-webfont.svg#pr8_charaderegular') format('svg');
		    font-weight: normal;
		    font-style: normal;

		}
	
	/*TOPO*/
		.topo{
			height: 90px;
			border-bottom:solid 1px #ccc;
			position: relative;
		}
			.topo .link-logo{
				text-align: center;
				display: block;
				max-width: 99px;
				margin: 0 auto;
			
			}
				.topo a h1{
					text-indent: -9999em;
					background: url(../img/logo.png)no-repeat;
				    margin: 25px auto 0;
					padding: 0;
					width: 99px;
					height: 38px;
			
				}
			.topo .redes-sociais{
				text-align: left;
				font-size: 25px;
				padding: 25px 0 0;
			}
				.topo .redes-sociais a {
					margin:0 5px;
					color: #626262;
				}
					.topo .redes-sociais a:hover{
						color: #c93a7a!important;

					}	
					.topo .redes-sociais i{
						
					}
			.topo .navbar{
				height: 0!important;
				margin: 0!important;
				padding: 20px 0;			
			}
				.topo .navbar .navbar-header{
			
				}
					.topo .navbar .navbar-header .navbar-toggle{
						border: solid 1px #C93A7A;
						margin: 0 20px;
						z-index: 2;
					}
						.topo .navbar .navbar-header .navbar-toggle span{
						    background: #C93A7A;
						}
			.topo .navbar .navbar-collapse{
			
			}
				.topo .navbar .navbar-collapse ul{
					width: 100%!important;
					display: block!important;
					text-align: right!important;
				}
					.topo .navbar .navbar-collapse ul li{
						margin: 0 5px;
						z-index: 2;
						float: none !important;
						display: inline-block !important;
			
					}
						.topo .navbar .navbar-collapse ul li a{
							font-size: 13px;
							text-transform: uppercase;
							font-weight: 500;
							color: #717070;
							font-family: 'gotham_bookregular';	
							text-align: center;		
							letter-spacing: 3px;
							padding: 15px 5px;	
							font-style: italic;		
						}
							.topo .navbar .navbar-collapse ul li a:hover{
								color: #c93a7a!important;	
							}	
							.nav>li>a:hover, .nav>li>a:focus{
								background-color: transparent;
							}
			.topo .btn-info{
				position: absolute;
				background: transparent;
				border: 0;
				color: #C93A7A;
				font-size: 25px;
				top: 25px;
				outline: none;
			}
				.btn-info:active:hover, .btn-info.active:hover, .open>.dropdown-toggle.btn-info:hover, .btn-info:active:focus, .btn-info.active:focus, .open>.dropdown-toggle.btn-info:focus, .btn-info:active.focus, .btn-info.active.focus, .open>.dropdown-toggle.btn-info.focus{
					background: transparent;
					border: 0;
					color: #C93A7A;
					font-size: 25px;
					top: 25px;
					outline: none;
				}

	/*COLLAPSE*/
		.area-collapse{
			background: rgba(0, 0, 0, 0.57);
		}	
			.area-collapse .collapse {
				/*min-height: 90px;*/
			
				width: 100%;

			}	
				.area-collapse .collapse .campo-pesquisa{
						position: relative;
				}

					.area-collapse .collapse .campo-pesquisa input{
					
					}
						.area-collapse .collapse .campo-pesquisa input::-webkit-input-placeholder {
						  	color:rgba(255, 255, 255, 0.64)!important;
						  	font-size: 17px;
						}

						.area-collapse .collapse .campo-pesquisa input:-moz-placeholder {
						  	color:rgba(255, 255, 255, 0.64)!important;
						  	font-size: 17px;
						}

						.area-collapse .collapse .campo-pesquisa input::-moz-placeholder {
							color:rgba(255, 255, 255, 0.64)!important;
							font-size: 17px;
						}

						.area-collapse .collapse .campo-pesquisa input:-ms-input-placeholder {  
						  	color:rgba(255, 255, 255, 0.64)!important;
						  	font-size: 17px;
						}
						#place{
							color: rgba(255, 255, 255, 0.64)!important;
							font-size: 17px;
							position: absolute;
							left: 30px;
							top: 25px;
							text-transform: uppercase; 
							padding: 0 30px;
							background: transparent!important;
							border: 0!important; 
							outline: none!important;
							width: 100%!important; 
							max-width: 600px!important; 
							height: 75px!important; 
							font-size: 25px!important; 
							font-family: 'Open Sans'!important; 
							font-weight: 100!important; 
							font-style: italic!important;
							
						}
					.area-collapse .collapse .campo-pesquisa .btn-info{
						position: relative;
					}
						.area-collapse .collapse .campo-pesquisa .btn-info{
							background: transparent;
							border: 0;
							color: #fff;
							font-size: 25px;
							outline: none;
							text-align: right;
							font-weight: 100;
							display: inline-block;
							max-width: 250px;
							width: 100%;
						}
							.btn-info:active:hover, .btn-info.active:hover, .open>.dropdown-toggle.btn-info:hover, .btn-info:active:focus, .btn-info.active:focus, .open>.dropdown-toggle.btn-info:focus, .btn-info:active.focus, .btn-info.active.focus, .open>.dropdown-toggle.btn-info.focus{
								background: transparent;
								border: 0;
								color: #C93A7A;
								font-size: 25px;
								top: 25px;
								outline: none;
							}

	/*MODAL RPODUTO*/
		.modal-produto{

		}
			.modal-produto #myModal{
			
			}
				.modal-produto #myModal .modal-dialog{
					max-width: 760px;
					width: 100%;

				}
					.modal-produto #myModal .modal-dialog .modal-content{
						min-height: 480px; 
					}
						.modal-produto #myModal .modal-dialog .modal-content .modal-body{
							
							
						}
							.modal-produto #myModal .modal-dialog .modal-content .modal-body .carrossel-modal{
								position: relative;
								
							}
								.modal-produto #myModal .modal-dialog .modal-content .modal-body .carrossel-modal .owl-Carousel{
								
								
								}
									.modal-produto #myModal .modal-dialog .modal-content .modal-body .carrossel-modal .owl-Carousel .item{
										width: 100%!important;
										max-width: 490px;
										height: 300px!important;
										padding: 80px 0 0 0!important;
										margin: 0 auto;
								
									}
										.modal-produto #myModal .modal-dialog .modal-content .modal-body .carrossel-modal .owl-Carousel .item img{
								
											margin:0 auto;
										}
										.modal-produto #myModal .modal-dialog .modal-content .modal-body .carrossel-modal .navegacaoProdutomodalFrent{
											border: 0;
											background: transparent;
											font-size: 85px;
											color: #C93A7A;
											position: absolute;
											left: 20px;
											outline: none;
											top: 110px;
											z-index: 1;
										}
										.modal-produto #myModal .modal-dialog .modal-content .modal-body .carrossel-modal .navegacaoProdutomodalTras{
											border: 0;
											background: transparent;
											font-size: 85px;
											color: #C93A7A;
											position: absolute;
											right: 20px;
											outline: none;
											top: 110px;
											z-index: 1;
										}
							.modal-produto #myModal .modal-dialog .modal-content .modal-body .detalhe{
								width: 100%;
								max-width: 700px;
								margin: 0 auto;
							}
								.modal-produto #myModal .modal-dialog .modal-content .modal-body .detalhe ul{
								    border-top: solid 1px #ccc;
								
								}
									.modal-produto #myModal .modal-dialog .modal-content .modal-body .detalhe ul li{
										display: inline-block;
										font-family: 'gotham_bookregular';
										width: 100%;
										max-width: 215px;
										text-align: center;
										
										min-height: 80px;
										margin: 10px 0 0 0;
										padding: 10px 5px;
									}
										.modal-produto #myModal .modal-dialog .modal-content .modal-body .detalhe ul .borda{
											border-left: solid 1px #ccc;
											border-right: solid 1px #ccc;
										}
										.modal-produto #myModal .modal-dialog .modal-content .modal-body .detalhe ul li .cores{
											display: inline-block;
											margin: 0 5px;
											background: #5A4220;
											width: 25px;
											height: 25px;
											border-radius: 100%;
										}
										.modal-produto #myModal .modal-dialog .modal-content .modal-body .detalhe ul li h4{
											margin: 0;
											text-transform: uppercase;
											font-size: 15px;
											font-weight: bold;
											color: #555;
										}
										.modal-produto #myModal .modal-dialog .modal-content .modal-body .detalhe ul li .preco{
											font-size: 15px;
										}
										.modal-produto #myModal .modal-dialog .modal-content .modal-body .detalhe ul li .preco p{
											color: #c93a7a!important;
										}
											.modal-produto #myModal .modal-dialog .modal-content .modal-body .detalhe ul li .preco p b{
									
											}
										.modal-produto #myModal .modal-dialog .modal-content .modal-body .detalhe ul li .botao-modal-detalhe{
											max-width: 180px;
											width: 100%;
											height: 50px;
											background: transparent;
											border: solid 2px #7D7D7D;
											font-family: 'Open Sans';
											text-transform: uppercase;
											font-size: 15px;
											font-weight: bold;
											font-style: italic;
										}
											.modal-produto #myModal .modal-dialog .modal-content .modal-body .detalhe ul li .botao-modal-detalhe:hover{
												background: #c93a7a;
												color: #fff;
												border-color:#c93a7a;
											}				
		
	/*PG*/
		.pg{

		}
		button.close{
			margin: 20px;
			position: absolute;
			right: 0;
			top: 0;
			z-index: 2;
			font-size: 35px;
		}
		.lupa{
			position: absolute;
		    top: -20px;
			right: 0;
			margin: 20px;
			font-size: 25px;
			color: #666666;
		}
			.active{
				color: #c93a7a!important;
				font-style:initial!important;
			}
			.botao-compra{

			}
				.botao-compra{
					width: 100%;
					max-width: 275px;
					min-height: 55px;
					text-align: center;
					margin: 0 auto;
					border:solid 2px #666666;
					background: #fff;
					font-size: 20px;
					font-family: 'gotham_bookregular';
				}
					.botao-compra:hover{
						background: #c93a7a;
						color: #fff;
						border-color:#c93a7a;
					}
		.pg{
			padding-left: 10px!important;
			padding-right: 10px!important;
		}
		.panel{
			box-shadow: none!important;
		}
		a{
			text-decoration: none!important;
		}
			a:hover{
				text-decoration: none!important;
			}
		.btn-comprar,
		.btn-enviar{
			background: none;
			box-shadow: 0;
			border: 2px solid #666666;			
			color: #666666;
			font-weight: 600;
			width:100%;
			max-width: 275px;
			padding: 17px 0;
			font-family: 'gotham_bookregular';
		}
		.btn-enviar:hover{
			background: #666;
			color: #fff;
			border-color:#666;
		}
		
		.btn-comprar:hover{
			background: #666666;
			color: #fff;
			border-color:#666666;	
		}
		.caminho{
			margin: 40px 0 10px; 			
		}
			.caminho p {
				text-transform: uppercase;
			}
				.caminho p span {
					color: #c93a7a;
					text-transform: uppercase;
				}
		hr{
			background: #c0c0c0;	
			border-width: 0; 
			height: 1px;			
		}			
	
	/*RODAPÉ*/
		.rodape{
			margin-top: 20px;
				
		}
			.position-container{
				position: relative;
			}
				.rodape .nav{
					height: auto;					
					width: 100%;
					border-top: solid 1px #C0C0C0;
					border-bottom: solid 1px #C0C0C0;
					padding: 28px 0;
					
				}
					.rodape .nav ul{
						list-style: none;
						display: inline-block;
					}	
						.rodape .nav ul li{
							display: inline-block;
						    margin: 0 25px;
						}	
							.rodape .nav ul li a{
								font-size: 13px;
								text-transform: uppercase;
								font-weight: 500;
								color: #717070;
								font-family: 'gotham_bookregular';
								text-align: center;
								letter-spacing: 3px;
							}
								.rodape .nav ul li a:hover{
									color: #c93a7a!important;	
								}	
					.rodape .form{
						display: inline-block;
						position: absolute;
						right: 0;
						margin: 0 20px;

					}
						.rodape .assinar{
													
							font-size: 13px;
							text-decoration: none;							
							font-weight: bold;
							color: #4D4A4A;
							font-family: 'gotham_bookregular';
							text-transform: uppercase;
							/* font-weight: 100; */
							letter-spacing: 3px;

						}					
							.rodape .form input{
								border: 0;
								outline: none;
								margin: 0 0 0 20px;
								padding-bottom: 5px;

							}
								::-webkit-input-placeholder {
									text-transform: uppercase;									
									font-size: 15px;
									padding: 0 0 0 5px;
									letter-spacing: 2px;
									color: #7B7B7B !important;
								}

								:-moz-placeholder {
									text-transform: uppercase;									
									font-size: 15px;
									padding: 0 0 0 5px;
									letter-spacing: 2px;
									color: #7B7B7B !important;
								}

								::-moz-placeholder {
									text-transform: uppercase;									
									font-size: 15px;
									padding: 0 0 0 5px;
									letter-spacing: 2px;
									color: #7B7B7B !important;
								}

								:-ms-input-placeholder {  
									text-transform: uppercase;									
									font-size: 15px;
									padding: 0 0 0 5px;
									letter-spacing: 2px;
									color: #7B7B7B !important;
								}
							.rodape .form button{
								border: 0;
								background: transparent;
								 outline: none;
							}
								.rodape .form button i{
								   color: #C93A7A;
								   font-size: 18px;

								}
				.rodape span{
					display: block;
					margin: 40px 0;
					color: #717070;
					font-size: 17px;
					font-weight: 100;					
					font-family: 'gotham_bookregular';
					padding: 0 20px;
				}
				.rodape .redes-sociais{
					display: block;
					text-align: right;
					margin: 40px 0;

				}
					.rodape .redes-sociais a{
						font-size: 24px;
						color: #717070;
						margin: 5px;

					}
						.rodape .redes-sociais a:hover{
							color: #c93a7a!important;

						}	
						.rodape .redes-sociais i{
							
						}
		
	/*PÁGINA INICIAL*/
		.pg-inicial{
			padding: 0!important;
			margin: 0!important;
		}	
			/*CARROSSEL DESTAQUE*/
				.pg-inicial .carrossel-topo{
				
				}
					.pg-inicial .carrossel-topo .owl-Carousel{
				
					}
						.pg-inicial .carrossel-topo .owl-Carousel .item{
							height: 850px;
							width: 100%;	
							background-size: cover!important;
							background-position: center!important;
							
						}
							.pg-inicial .carrossel-topo  #carrossel-inicial .owl-dots {
								position: absolute;
								bottom: -40px;
								left: 50%;
								-webkit-transform: rotate(90deg);
								-moz-transform: rotate(90deg);
								-o-transform: rotate(90deg);
								


							}
								.pg-inicial .carrossel-topo  #carrossel-inicial .owl-dot span{
								    display: inline-block;
								    width: 12px;
								    height: 12px;
								    margin: 5px 7px;
								    border: 1px solid #545353;
								    border-radius: 20px;
								    background: #545353;
								}
									.pg-inicial .carrossel-topo #carrossel-inicial .owl-dot.active span{
										background-color:#c93a7a;
										border-color:#c93a7a;

									}
								
								.pg-inicial .carrossel-topo .owl-Carousel .item .info{
									position: absolute;
									top: 185px;
									width: 100%;
									max-width: 300px;
									text-align: center;
								}
									.pg-inicial .carrossel-topo .owl-Carousel .item .info h2{
										color: #c93a7a;	
										font-family: 'pr8_charaderegular'!important;	
										font-size: 115px;

									}
									.pg-inicial .carrossel-topo .owl-Carousel .item .info h3{
										font-family: "Open Sans";
										text-transform: uppercase;
										color: #717070;
										font-size: 30px;
										margin: 25px 0;
										font-weight: 100;	
									}
									.pg-inicial .carrossel-topo .owl-Carousel .item .info p{
										width: 100%;
										max-width: 170px;
										margin: 0 auto;
										line-height: 20px;
										font-family: "Open Sans";
										color: #717070;		
									}
									.pg-inicial .carrossel-topo .owl-Carousel .item .info a{
										width: 100%;
										max-width: 275px;
										min-height: 55px;
										text-align: center;
										
										border:solid 2px #666;									
										font-size: 16px;	
										display: block;
										background: transparent;
										color: #717070;	
										
										padding: 15px 0;
										font-family: "Open Sans";
										text-transform: uppercase;
										font-weight: bold;
									    margin: 30px 0 80px;
									    letter-spacing: 1px;


									}
										.pg-inicial .carrossel-topo .owl-Carousel .item .info a:hover{
											background: #666!important;
											color:#fff;

										}	
									.pg-inicial .carrossel-topo .owl-Carousel .item .info span{
										font-size: 20px;
										color: #717070;
										font-family: "Open Sans";	
										font-weight: 100;
									}
										.pg-inicial .carrossel-topo .owl-Carousel .item .info span b{
											color:#C93A7A;	
											font-weight: 100;
											font-size: 23px;		
										}
			/*AREA PRODUTOS*/
				.pg-inicial{

				}	
					.pg-inicial .produtos{

					}	
						.pg-inicial .produtos ul{
							list-style: none;
							text-align: center;
						}	
							.pg-inicial .produtos li{
								width: 100%;
								max-width: 300px;
								min-height: 300px;
								display: inline-block;
								position: relative;
								text-align: center;
							    margin: 90px 30px 0;

							}
								.pg-inicial .produtos ul li .new{
									position: absolute;
									top: -60px;
									right: 0;
									font-weight: 100!important;
									font-size: 50px;
									font-family: 'pr8_charaderegular'!important;							
								}	
									.pg-inicial .produtos ul li {

									}	
										.pg-inicial .produtos ul li  .item{
											
											min-height: 115px;
											
											margin: 0 auto;
										}		
											.pg-inicial .produtos ul li  .item img{
												margin:0 auto;
											}
												
												.pg-inicial .produtos li h4{													
												    text-align: left;
												    margin: 30px 0 0 0;
												    text-transform: uppercase;
												    font-size: 13px;
												    font-weight: bold;
												    font-family: 'gotham_bookregular';
											        padding: 0 0 0 20px;
											        color: #666666;
												}
												.pg-inicial .produtos li span{
													text-align: left;
													font-weight: bold;
													color:#c93a7a;
													margin: 0 0 25px 0;
													font-size:15px;
													display: block;
												    padding: 0 0 0 20px;
												}
												.pg-inicial .produtos li a{
													position: absolute;
													bottom: 100px;
													right: 0;
													margin: 20px;
													font-size: 25px;
													color: #939393;
													outline: none;
												}
													.pg-inicial .produtos li a img{

													}
												.pg-inicial .produtos li .botao-compra{
														width: 100%;
														max-width: 275px;
														min-height: 55px;
														text-align: center;
														margin: 0 auto;
														border: solid 2px #666;
														background: #fff;
														font-size: 14px;
														letter-spacing: 3px;
														text-transform: uppercase;
														font-weight: bold;
														color: #5D5A5A;
														font-family: 'gotham_bookregular';
												}
													.pg-inicial .produtos li .botao-compra:hover{
														background: #666;
														color: #fff;
														border-color:#666;
													}
												.pg-inicial .produtos ul li .carrossel .botoes{
													
												}	
													.pg-inicial .produtos ul li .carrossel .botoes .navegacaoProdutoFrent{
														border: 0;
														background: transparent;
														font-size: 45px;
														color: #C93A7A;	
														position: absolute;
														left: 0;
														outline: none;
														top: 20px;
														z-index: 1;
													}
													.pg-inicial .produtos ul li .carrossel .botoes .navegacaoProdutoTras{
														border: 0;
														background: transparent;
														font-size: 45px;
														color: #C93A7A;	
														position: absolute;
														right: 0;
														outline: none;
														top: 20px;
														z-index: 1;

													}
					.pg-inicial .vermais{
						color: #727272;
						display: block;
						text-align: center;
						font-weight: bold;
						font-size: 15px;
						margin: 15px;
						text-transform: uppercase;
						font-family: 'gotham_bookregular';
					}	

	/*PÁGINA DE LOGIN*/
		.pg-login{

		}
			.pg-login .form{
				width: 100%;
				max-width: 485px;
				margin: 35px 0;
			}
				.pg-login .form label{
					text-transform: uppercase;
					color: #7B7B7B;
				    font-size: 16px;
				    font-family: 'gotham_bookregular';
				}
				.pg-login .form input{
					width: 100%;
					height: 35px;
				    border-radius: 0;
				}
			.pg-login .form a{
				color: #666666;
				letter-spacing: 2px;		
			}
				.pg-login .form a:hover{
					text-decoration: underline!important;
				}
			.pg-login button{
				background: none;
				box-shadow: 0;
				border: 2px solid #666666;			
				color: #666666;
				font-weight: 600;
				width:100%;
				max-width: 275px;
				padding: 17px 0;
				display: block;
				text-transform: uppercase;
				letter-spacing: 2px;
				margin: 35px 0;
			}
				.pg-login button:hover{
					background: #666;
					color: #fff;
				}
	
	/* PÁGINA BLOG*/
		.pg-blog{

		}
			.pg-blog .data{
				font-style: italic;
				color: #717070;
				display: block;
				font-family: 'Open Sans';
				text-transform: uppercase;
				margin: 0 0 20px;
				padding: 0 10px;
				font-size: 12px
			}
			/*POST*/
				.pg-blog .post{
					margin: 20px 0;
					border-bottom: solid 1px #ccc;
					min-height: 600px;
					z-index: -2;
				}
					.pg-blog .post .titulo-post{						
						
						width: 100%;
						position: relative;
					}
						.pg-blog .post .titulo-post p{
							font-size: 20px;
							font-weight: bold;
							color: #717070;
						    padding: 0 10px;
						    font-family: 'gotham_boldregular';
						    text-transform: uppercase;
						}
						.pg-blog .post .titulo-post span{
							position: absolute;
							right: 0;
							margin: 10px 20px;
							top: 30px;
							font-style: italic;
							font-family: 'Open Sans';
							color: #717070;
							text-transform: uppercase;

						}
					.pg-blog .post .bg-post{
						height: 355px;
						width: 100%;
						background-size: cover !important;
					    background-position: center!important;
					}
					.pg-blog .post .descricao{
						max-width: 800px;
						width: 100%;
						color: #656565;
						font-size: 13px;
						line-height: 20px;
						padding: 20px;
					    font-family: 'Open Sans';
					}
					.pg-blog .post a{
						font-family: 'Open Sans';
						color: #656565;
						font-size: 16px;
						font-weight: 700;
						font-style: italic;
						padding: 10px;
						text-transform: uppercase;
					    letter-spacing: 2px;
					    font-family: 'gotham_boldregular';

					}
						.pg-blog .post a:hover{
							text-decoration: underline!important;
						}
			.pg-blog .paginador{
				text-align: center;

			}
				.pg-blog .paginador ul{
					list-style: none;
				}
					.pg-blog .paginador li{
						display: inline-block;
						font-size: 25px;
						margin: 30px 5px;
					}
						.pg-blog .paginador li a{
							color: #717070;
							font-weight: 100;
							font-family:"Open Sans";
						}
							.pg-blog .paginador li a:hover{
								color: #c93a7a;
					
							}
							.pg-blog .paginador li a i{
								color: #c93a7a;
							}

	/*´PÁGINA BLOG*/
		.pg-postagem{

		}
			
			/*POST*/
				.pg-postagem .post{
					margin: 20px 0;
					border-bottom: solid 1px #ccc;
					min-height: 600px;
					z-index: -2;
				}
					.pg-postagem .post .titulo-post{						
						
						width: 100%;
						position: relative;
					}
						.pg-postagem .post .titulo-post p{
							font-size: 20px;
							font-weight: bold;
							color: #717070;						    
						    font-family: 'gotham_boldregular';
						    text-transform: uppercase;
						    text-align: center;
						}	
							.pg-postagem .data{
								font-style: italic;
								color: #717070;
								display: block;
								font-family: 'Open Sans';
								text-transform: uppercase;
								text-align: center;
								padding: 0 10px;
								font-size: 12px;
								margin-bottom:50px;
							}						
						.pg-postagem .post .titulo-post span{
							position: absolute;
							right: 0;
							margin: 10px 20px;
							top: 30px;
							font-style: italic;
							font-family: 'Open Sans';
							color: #717070;
							text-transform: uppercase;

						}
					.pg-postagem .post .bg-post{
						height: 690px;
						width: 100%;
						margin:20px 0;
						background-size: cover !important;
					    background-position: center!important;
					}
					.pg-postagem .post .descricao{
						max-width: 800px;
						width: 100%;
						color: #656565;
						font-size: 13px;
						text-align: center;
						line-height: 20px;
						padding: 20px;
						margin: 20px auto;
					    font-family: 'Open Sans';
					}
					.pg-postagem .post a{
						font-family: 'Open Sans';
						color: #656565;
						font-size: 16px;
						font-weight: 700;
						font-style: italic;
						padding: 10px;
						text-transform: uppercase;
					    letter-spacing: 2px;
					    font-family: 'gotham_boldregular';

					}
						.pg-postagem .post a:hover{
							text-decoration: underline!important;
						}
			.pg-postagem .paginador{
				text-align: center;

			}
				.pg-postagem .paginador ul{
					list-style: none;
				}
					.pg-postagem .paginador li{
						display: inline-block;
						font-size: 25px;
						margin: 30px 5px;
					}
						.pg-postagem .paginador li a{
							color: #717070;
							font-weight: 100;
							font-family:"Open Sans";
						}
							.pg-postagem .paginador li a:hover{
								color: #c93a7a;
					
							}
							.pg-postagem .paginador li a i{
								color: #c93a7a;
							}

	/* PÁGINA QUEM SOMOS */
		.pg-quem-somos{
			padding: 0!important;
		}
			.pg-quem-somos .foto{
				min-height: 800px;
				position: relative;
				background-size: cover!important;
				background-position: center!important;
			}
				.pg-quem-somos .foto .frase{
					position: absolute;
					top: 50%;
					left: 50%;
					-webkit-transform: translate(-50%,-50%);
					-ms-transform: translate(-50%,-50%);
					-o-transform: translate(-50%,-50%);
					transform: translate(-50%,-50%);
					width: 60%;
					height: 130px;
					text-align: center;
				}
					.pg-quem-somos .foto .frase p {
						font-family: "Open Sans";
						font-size: 42px;
						color: #c93a7a;
						font-weight: 900;
						text-transform: uppercase;
						width: 100%;
						max-width: 715px;
						margin: 0 auto;
						line-height: 50px;
					}

			.pg-quem-somos .sobre{
				padding: 80px 0;				
			}
				.pg-quem-somos .sobre .texto{
					max-width: 720px;
					display: block;
    				margin: 0 auto;
				}
					.pg-quem-somos .sobre .texto p {
						color: #666666;
						font-size: 13px;						
						line-height: 25px;
						padding: 10px;	
						font-family: 'gotham_bookregular';									
					}	

	/* PG CONTATO */
		.pg-contato{
			padding: 40px 0;
			text-align: left;
			margin-bottom: 80px;
		}
			.pg-contato .caminho{
				margin-bottom: 35px;

			}
				.pg-contato .caminho p {
					text-transform: uppercase;
				}
					.pg-contato .caminho p span {
						color: #c93a7a;
						text-transform: uppercase;

					}
			.pg-contato .formulario{}
				.pg-contato .formulario .form-group{
					max-width: 500px;
				}
					.pg-contato .formulario .form-group label {
						font-size: 16px;
						color: #666666;
						font-family: 'gotham_bookregular';
					}
					.pg-contato .formulario .form-group input {
						width: 100%;
						border: 1px solid #c0c0c0;
						border-radius: 0;
						box-shadow: none!important;
					}
					.pg-contato .formulario .texarea-correcao{
						max-width: 672px;
						width: 100%;
					}
						.pg-contato .formulario .texarea-correcao textarea {
							max-width: 672px;
							border: 1px solid #c0c0c0;
							border-radius: 0;
							box-shadow: none!important;
							max-height:175px!important;
						}
					.pg-contato .formulario .form-group button {
						padding: 20px 30%;
					}

	/* PG SINGLE PRODUTO */
		.pg-single-produto{
			padding-top: 35px;
		}
			.pg-single-produto .caminho{				
			}
				.pg-single-produto .caminho p {}
					.pg-single-produto .caminho p span {
						color: #c93a7a;
					}
			.pg-single-produto .produto{
				padding: 35px 0 10px 0;
				margin-bottom: 10px;
			}
				.pg-single-produto .produto .imagem{}
					.pg-single-produto .produto .imagem #carrossel-imagem{
						text-align: center!important;
					}
						.pg-single-produto .produto .imagem #carrossel-imagem .item{
							width: 100%;
							height: 400px;
							display: block;
							margin: 0 auto;
							text-align: center!important;
							position: relative;
						}
							.pg-single-produto .produto .imagem .botao-zoom {
								display: block;
								text-align: right;
								margin: 0 90px 0 0;
								width: 100%;
								position: relative;
								outline: none;
							}
								.pg-single-produto .produto .imagem .botao-zoom img{
									display: block;
									position: absolute;
									bottom: 50px;
									right: 60px;
									z-index: 2;
								}
							.pg-single-produto .produto .imagem #carrossel-imagem .item img {								
    							width: initial;
    							max-height: 400px;
    							position: absolute;
    							top: 50%;
								left: 50%;
								-webkit-transform: translate(-50%,-50%);
									-ms-transform: translate(-50%,-50%);
									 -o-transform: translate(-50%,-50%);
			    						transform: translate(-50%,-50%);
							}
							.pg-single-produto .produto .imagem .navegacaoProdutodetalheFrent{
								margin: 20px;
								left: 30px;
								border: 0;
								background: 0;
								font-size: 70px;
								position: absolute;
								top: 30%;
								color: #C93A7A;
								z-index: 1;
								outline: none;
							}
							.pg-single-produto .produto .imagem .navegacaoProdutodetalheTras{
								margin: 20px;
								right: 30px;
								border: 0;
								background: 0;
								font-size: 70px;
								position: absolute;
								top: 30%;
								color: #C93A7A;
								z-index: 1;
								outline: none;
							}
				.pg-single-produto .produto .info{
					border: 2px solid #c0c0c0;
					padding: 20px;
					text-align: center;					
					min-width: 275px;
					max-width: 320px;
					margin: 0 auto;
				}
					.pg-single-produto .produto .info .nome{
						color: #666666;
						font-size: 15px;
						font-weight: 700;
						font-family: 'gotham_bookregular';
					}
					.pg-single-produto .produto .info .valor{
						color: #c93a7a;
						border-bottom: 1px solid #c0c0c0;
						font-size: 15px;
						font-weight: 300;
						padding-bottom: 15px;
					}
						.pg-single-produto .produto .info .valor b {
							font-weight: 700;
						}
					.pg-single-produto .produto .info .descricao{
						padding: 15px 0;
					}
						.pg-single-produto .produto .info .descricao p{
							color: #666666;
							font-size: 13px;
							font-family: 'gotham_bookregular';
						}
					.pg-single-produto .produto .info .panel-group{
						border-top: 1px solid #c0c0c0;
						text-align: left;
						margin-bottom: 5px;
					}
						.pg-single-produto .produto .info .panel-group .panel-title{
							position: relative;
						}
							.pg-single-produto .produto .info .panel-group .panel-title a {
								color: #969696;
								font-size: 14px;
								font-weight: 600;
								font-family: 'gotham_bookregular';

							}
								.pg-single-produto .produto .info .panel-group .panel-title a i {
									color: #c93a7a;
									position: absolute;
									right: 0;
									font-size: 28px;
									font-weight: lighter;
									line-height: 65%;

								}
			.pg-single-produto .outros-modelos{
				text-align: center;
				margin: 60px 0;
			}
				.pg-single-produto .outros-modelos .titulo{
					color: #666666;
					margin: 5px 0 40px 0;
					font-weight: 700;
					font-size: 16px;
					font-family: 'gotham_bookregular';
				}
				.pg-single-produto .outros-modelos #carrossel-outros{
					text-align: center;
					margin-bottom: 65px;
				}
					.pg-single-produto .outros-modelos #carrossel-outros .item{
						display: inline-block;
						width: 100%;
						max-width: 275px;
						
					}
						.pg-single-produto .outros-modelos #carrossel-outros .item .foto{
							height: 200px;
						}
							.pg-single-produto .outros-modelos #carrossel-outros .item .foto img {								
    							max-height: 200px;
    							position: absolute;
    							top: 50%;
								left: 50%;
								-webkit-transform: translate(-50%,-50%);
									-ms-transform: translate(-50%,-50%);
									 -o-transform: translate(-50%,-50%);
			    						transform: translate(-50%,-50%);
							}
						.pg-single-produto .outros-modelos #carrossel-outros .item .row{
							position: relative;
						}
							.pg-single-produto .outros-modelos #carrossel-outros .item .lupa{
								/*position: absolute;
								right: 0;
								top: 10px;*/
							}
								.pg-single-produto .outros-modelos #carrossel-outros .item .lupa i {
									font-size: 24px;
									font-weight: lighter;
								}
							.pg-single-produto .outros-modelos #carrossel-outros .item .modelo{
								color: #666666;
								font-size: 15px;
								font-weight: 700;
								text-align: left;
							}
							.pg-single-produto .outros-modelos #carrossel-outros .item .valor{
								color: #c93a7a;								
								font-size: 15px;
								font-weight: 700;
								padding-bottom: 15px;
								text-align: left;
							}
								.pg-single-produto .outros-modelos   #carrossel-outros .owl-dots {
									position: absolute;
									bottom: -100px;
									left: 50%;
									-webkit-transform: rotate(90deg);
									-moz-transform: rotate(90deg);
									-o-transform: rotate(90deg);
									


								}
								.pg-single-produto .outros-modelos   #carrossel-outros .owl-dot span{
								    display: inline-block;
								    width: 12px;
								    height: 12px;
								    margin: 5px 7px;
								    border: 1px solid #545353;
								    border-radius: 20px;
								    background: #545353;
								}
									.pg-single-produto .outros-modelos  #carrossel-outros .owl-dot.active span{
										background-color:#c93a7a;
										border-color:#c93a7a;


									}	
									.pg-single-produto .outros-modelos .botoes-produtosingle{
										position: relative;
										width: 100%;
										max-width: 120px;
										margin: 0 auto;

									}
										.pg-single-produto .outros-modelos .botoes-produtosingle .navegacaoProdutosingleFrent{
											border: 0;
											background: 0;
											font-size: 30px;
											position: absolute;
											color: #C93A7A;
											left: 30px;
											top:-14px;
											outline: none;
										}	
										.pg-single-produto .outros-modelos .botoes-produtosingle .navegacaoProdutosingleTras{
											border: 0;
											background: 0;
											font-size: 30px;
											position: absolute;
											color: #C93A7A;
											right: 0;
											top:-14px;
											outline: none;
										}				
				.pg-single-produto .outros-modelos .paginador{}	
				

	/* @MEDIA */
		@media (max-width: 1199px) {
			.rodape .assinar{
				display: block;
			}

			
		}/* @MEDIA */
		@media (max-width: 991px) {
			.topo{
				height: auto;
			}
			 .rodape .assinar{
        	    display: inherit;
				padding: 0 0 0 40px;
	        }
	        .rodape .form{
				position: inherit;
				width: 100%;
				text-align: center;
				max-width: 725px;
				margin: 0 auto!important;      
			}
	        .topo .redes-sociais{
	        	text-align: center;
	        }
	        .topo .navbar .navbar-collapse ul{
				width: 100%!important;
				display: block!important;
				text-align: center!important;
	        }
	        .topo .btn-info{
        	    right: 110px!important;
	        }
	        .rodape .nav ul{
	        	width: 100%;
	        	text-align: center;
	        }
	        #text-pesquisa{

				text-align: center;
				display: block;
				width: 100%;
	        }

			
		}
		@media (max-width: 768px) {
			.topo .btn-info{
				position: initial;
				display: block;
				text-align: right;
				width: 100%;
				margin: 10px 0;
				padding: 0 30px 0 0px;
				
			}
			.topo .navbar .navbar-collapse ul li{
		        margin: 0; 
		        z-index: 2;
		        background: #fff!important;
		        /* width: 100%; */
		      }


		      .topo .navbar .navbar-collapse ul{
		          margin-top:52px;
		          background: #fff!important;
		        
		        }
		        .topo .navbar .navbar-collapse ul li a{
		        	text-align: left;

		        }
		        .pg-inicial .carrossel-topo .owl-Carousel .item .info{
					position: initial;
					margin: 0 auto;
					margin-top: 170px;
		        }
		        .pg-inicial .carrossel-topo .owl-Carousel .item .info a{
	        	    margin: 30px auto 40px;
		        }
		        .pg-inicial .carrossel-topo .owl-Carousel .item{
		        	height: 650px;
		        }
		        .pg-inicial .produtos li{
		        	margin:40px 0;
		        }
		        .pg-inicial .produtos ul{
		        	padding: 0;
		        }
		        .rodape .assinar{
		        	position: initial;
		        	display: inline-block;
		        	text-align: center;
		        }
		        .rodape .nav ul{
		        	text-align: center;
		        	display: block;
		        }
		        .rodape .redes-sociais{
		        	text-align: center;
		        }
		        .pg-quem-somos .foto{
		        	min-height: 500px;
		        }
		        .pg-quem-somos .foto .frase{
		        	top:100px;
		        }
		        .pg-quem-somos .foto .frase p{
	        	    font-size: 30px;
        	        padding: 20px 0 0;
        	        line-height: 35px;
		        }

		}
		@media (max-width: 767px) {

			.topo .navbar .navbar-collapse ul li {
				margin: 0;
				z-index: 2;
				background: #fff!important;
				 width: 100%; 
			}
				
			
		}
		@media (max-width: 554px) {
			.rodape .assinar{
	        	display: block;
	        	margin: 10px;
		    }
		    .rodape .form input{
				margin: 0 0 0 50px;
				width: 100%;
				max-width: 260px;
		    }
		}
		@media (max-width: 492px){
			.rodape .nav ul {
				display: none;
			}
		}
		@media (max-width: 410px){
			.pg-blog .post .titulo-post span{
				position: initial;
			}
		}
		@media (max-width: 350px){
			.rodape .form input{
				margin: 0 0 0 50px;
				width: 100%;
				max-width: 220px;
		    }
		}

