/*
--------------------------------------------
ESTRUTURAÇÃO BASE (Palupa Framework v1)
--------------------------------------------
*** BODY
**** TOPO
**** RODAPÉ
**** COPYRIGHT
**** ESTILOS GERAIS PARA AS PÁGINAS
**** ESTILOS GERAIS PARA AS PÁGINAS INTERNAS
**** PÁGINA INICIAL
**** PÁGINAS INTERNAS
**** EXTRAS
**** BOTÕES
**** @MEDIA
*/

/* BODY */
	body{
		
	}
	/*FONTS EXTRAS*/
		@font-face {
		    font-family: 'gotham_bookregular';
		    src: url('fonts/gotham_book-webfont.eot');
		    src: url('fonts/gotham_book-webfont.eot?#iefix') format('embedded-opentype'),
		         url('fonts/gotham_book-webfont.woff2') format('woff2'),
		         url('fonts/gotham_book-webfont.woff') format('woff'),
		         url('fonts/gotham_book-webfont.ttf') format('truetype'),
		         url('fonts/gotham_book-webfont.svg#gotham_bookregular') format('svg');
		    font-weight: normal;
		    font-style: normal;

		}


		@font-face {
		    font-family: 'gotham_blackregular';
		    src: url('fonts/gotham-black-webfont.eot');
		    src: url('fonts/gotham-black-webfont.eot?#iefix') format('embedded-opentype'),
		         url('fonts/gotham-black-webfont.woff2') format('woff2'),
		         url('fonts/gotham-black-webfont.woff') format('woff'),
		         url('fonts/gotham-black-webfont.ttf') format('truetype'),
		         url('fonts/gotham-black-webfont.svg#gotham_blackregular') format('svg');
		    font-weight: normal;
		    font-style: normal;

		}




		@font-face {
		    font-family: 'gotham_boldregular';
		    src: url('fonts/gotham-bold-webfont.eot');
		    src: url('fonts/gotham-bold-webfont.eot?#iefix') format('embedded-opentype'),
		         url('fonts/gotham-bold-webfont.woff2') format('woff2'),
		         url('fonts/gotham-bold-webfont.woff') format('woff'),
		         url('fonts/gotham-bold-webfont.ttf') format('truetype'),
		         url('fonts/gotham-bold-webfont.svg#gotham_boldregular') format('svg');
		    font-weight: normal;
		    font-style: normal;

		}




		@font-face {
		    font-family: 'gotham_lightregular';
		    src: url('fonts/gotham-light-webfont.eot');
		    src: url('fonts/gotham-light-webfont.eot?#iefix') format('embedded-opentype'),
		         url('fonts/gotham-light-webfont.woff2') format('woff2'),
		         url('fonts/gotham-light-webfont.woff') format('woff'),
		         url('fonts/gotham-light-webfont.ttf') format('truetype'),
		         url('fonts/gotham-light-webfont.svg#gotham_lightregular') format('svg');
		    font-weight: normal;
		    font-style: normal;

		}




		@font-face {
		    font-family: 'gotham_mediumregular';
		    src: url('fonts/gotham-medium-webfont.eot');
		    src: url('fonts/gotham-medium-webfont.eot?#iefix') format('embedded-opentype'),
		         url('fonts/gotham-medium-webfont.woff2') format('woff2'),
		         url('fonts/gotham-medium-webfont.woff') format('woff'),
		         url('fonts/gotham-medium-webfont.ttf') format('truetype'),
		         url('fonts/gotham-medium-webfont.svg#gotham_mediumregular') format('svg');
		    font-weight: normal;
		    font-style: normal;

		}

		@font-face {
		    font-family: 'pr8_charaderegular';
		    src: url('fonts/pr8_charade-webfont.eot');
		    src: url('fonts/pr8_charade-webfont.eot?#iefix') format('embedded-opentype'),
		         url('fonts/pr8_charade-webfont.woff2') format('woff2'),
		         url('fonts/pr8_charade-webfont.woff') format('woff'),
		         url('fonts/pr8_charade-webfont.ttf') format('truetype'),
		         url('fonts/pr8_charade-webfont.svg#pr8_charaderegular') format('svg');
		    font-weight: normal;
		    font-style: normal;

		}
	
	/*TOPO*/
		.topo{
			height: 90px;
			border-bottom:solid 1px #ccc;
			position: relative;
		}
			.topo .link-logo{
				text-align: center;
				display: block;
				max-width: 99px;
				margin: 0 auto;
			
			}
				.topo a h1{
					text-indent: -9999em;
					background: url(img/logo.png)no-repeat;
				    margin: 25px auto 0;
					padding: 0;
					width: 99px;
					height: 38px;
			
				}
			.topo .redes-sociais{
				text-align: left;
				font-size: 25px;
				padding: 25px 0 0;
			}
				.topo .redes-sociais a {
					margin:0 5px;
					color: #626262;
				}
					.topo .redes-sociais a:hover{
						color: #c93a7a!important;

					}	
					.topo .redes-sociais i{
						
					}
			.topo .navbar{
				height: 0!important;
				margin: 0!important;
				padding: 20px 0;			
			}
				.topo .navbar .navbar-header{
			
				}
					.topo .navbar .navbar-header .navbar-toggle{
						border: solid 1px #C93A7A;
						margin: 0 20px;
						z-index: 2;
						position: absolute;
						right: 0;
						top: -100px;

					}
						.topo .navbar .navbar-header .navbar-toggle span{
						    background: #C93A7A;
						}
			.topo .navbar .navbar-collapse{

			}
				.topo .navbar .navbar-collapse ul{
					width: 100%!important;
					display: block!important;
					text-align: right!important;
				}
					.topo .navbar .navbar-collapse ul li{
						/*margin: 0 5px;*/
						z-index: 2;
						float: none !important;
						display: inline-block !important;
			
					}
						.topo .navbar .navbar-collapse ul li a{
							font-size: 13px;
							text-transform: uppercase;
							font-weight: 500;
							color: #717070;
							font-family: 'gotham_bookregular';	
							text-align: center;		
							letter-spacing: 3px;
							padding: 15px 5px;	
							font-style: italic;		
						}
							.topo .navbar .navbar-collapse ul li a:hover{
								color: #c93a7a!important;	
							}	
							.nav>li>a:hover, .nav>li>a:focus{
								background-color: transparent;
							}
			.topo .btn-info{
				position: absolute;
				background: transparent;
				border: 0;
				color: #C93A7A;
				font-size: 25px;
				top: 25px;
				outline: none;
			}
				.btn-info:active:hover, .btn-info.active:hover, .open>.dropdown-toggle.btn-info:hover, .btn-info:active:focus, .btn-info.active:focus, .open>.dropdown-toggle.btn-info:focus, .btn-info:active.focus, .btn-info.active.focus, .open>.dropdown-toggle.btn-info.focus{
					background: transparent;
					border: 0;
					color: #C93A7A;
					font-size: 25px;
					top: 25px;
					outline: none;
				}
				 .campo-pesquisa .yith-s{
					text-transform: uppercase; 
					padding: 0 30px;background: transparent!important;
					border: 0!important; 
					outline: none!important; width: 100%!important; 
					max-width: 600px!important; height: 75px!important; 
					font-size: 25px!important; font-family: 'Open Sans'!important; 
					font-weight: 100!important; font-style: italic!important; 
					color: #fff!important;
				}
				 .campo-pesquisa #yith-searchsubmit{
					background: url(img/2.png) no-repeat!important;
					background-size: cover!important;
					background-position: center!important;
					color: #fff;
					border: 0;
					font-size: 0;
					text-align: left;
					background: #fff;
					width: 135px;
					height: 50px;
					position: absolute;
					top: 10px;
					left: 40%;

				}
				
				.campo-pesquisa label{
					display: none;
				}
	
	/*COLLAPSE*/
		.area-collapse{
			background: rgba(0, 0, 0, 0.57);
		}	
			.area-collapse .collapse {
				/*min-height: 90px;*/
			
				width: 100%;

			}	
				.area-collapse .collapse .campo-pesquisa{
						position: relative;
				}

					.area-collapse .collapse .campo-pesquisa input{
					
					}
						.area-collapse .collapse .campo-pesquisa input::-webkit-input-placeholder {
						  	color:rgba(255, 255, 255, 0.64)!important;
						  	font-size: 17px;
						}

						.area-collapse .collapse .campo-pesquisa input:-moz-placeholder {
						  	color:rgba(255, 255, 255, 0.64)!important;
						  	font-size: 17px;
						}

						.area-collapse .collapse .campo-pesquisa input::-moz-placeholder {
							color:rgba(255, 255, 255, 0.64)!important;
							font-size: 17px;
						}

						.area-collapse .collapse .campo-pesquisa input:-ms-input-placeholder {  
						  	color:rgba(255, 255, 255, 0.64)!important;
						  	font-size: 17px;
						}
						#place{
							color: rgba(255, 255, 255, 0.64)!important;
							font-size: 17px;
							position: absolute;
							left: 30px;
							top: 25px;
							text-transform: uppercase; 
							padding: 0 30px;
							background: transparent!important;
							border: 0!important; 
							outline: none!important;
							width: 100%!important; 
							max-width: 600px!important; 
							height: 75px!important; 
							font-size: 25px!important; 
							font-family: 'Open Sans'!important; 
							font-weight: 100!important; 
							font-style: italic!important;
							
						}
					.area-collapse .collapse .campo-pesquisa .btn-info{
						position: relative;
					}
						.area-collapse .collapse .campo-pesquisa .btn-info{
							background: transparent;
							border: 0;
							color: #fff;
							font-size: 25px;
							outline: none;
							text-align: right;
							font-weight: 100;
							display: inline-block;
							max-width: 250px;
							width: 100%;
						}
							.btn-info:active:hover, .btn-info.active:hover, .open>.dropdown-toggle.btn-info:hover, .btn-info:active:focus, .btn-info.active:focus, .open>.dropdown-toggle.btn-info:focus, .btn-info:active.focus, .btn-info.active.focus, .open>.dropdown-toggle.btn-info.focus{
								background: transparent;
								border: 0;
								color: #C93A7A;
								font-size: 25px;
								top: 25px;
								outline: none;
							}
								.area-collapse .collapse .campo-pesquisa .enviar-pesquisa{
									background: transparent;
									color: #fff;
									border: 0;
									font-size: 27px;
									text-align: left;
								}

	/*MODAL RPODUTO*/
		.modal-produto{

		}
			.modal-produto #myModal{

			}
				.modal-produto #myModal .modal-dialog{
					max-width: 760px;
					width: 100%;

				}
					.modal-produto #myModal .modal-dialog .modal-content{
						min-height: 480px;
					}
						.modal-produto #myModal .modal-dialog .modal-content .modal-body{
							position: relative;

						}
							.modal-produto #myModal .modal-dialog .modal-content .modal-body .carrossel-modal{
								position: relative;
								min-height: 396px!important;
								

							}
								.modal-produto #myModal .modal-dialog .modal-content .modal-body .carrossel-modal .owl-Carousel{


								}
									.modal-produto #myModal .modal-dialog .modal-content .modal-body .carrossel-modal .owl-Carousel .item{
										width: 100%!important;
										max-width: 490px;
										height: 300px!important;
										padding: 80px 0 0 0!important;
										margin: 0 auto;

									}
										.modal-produto #myModal .modal-dialog .modal-content .modal-body .carrossel-modal .owl-Carousel .item img{

											margin:0 auto;
										}
										.modal-produto #myModal .modal-dialog .modal-content .modal-body .carrossel-modal .navegacaoProdutomodalFrent{
											border: 0;
											background: transparent;
											font-size: 85px;
											color: #C93A7A;
											position: absolute;
											left: 20px;
											outline: none;
											top: 110px;
											z-index: 1;
										}
										.modal-produto #myModal .modal-dialog .modal-content .modal-body .carrossel-modal .navegacaoProdutomodalTras{
											border: 0;
											background: transparent;
											font-size: 85px;
											color: #C93A7A;
											position: absolute;
											right: 20px;
											outline: none;
											top: 110px;
											z-index: 1;
										}
							.modal-produto #myModal .modal-dialog .modal-content .modal-body .detalhe{
								width: 100%;
								max-width: 700px;
								margin: 0 auto;
							}
								.modal-produto #myModal .modal-dialog .modal-content .modal-body .detalhe ul{
								    border-top: solid 1px #ccc;
								    margin: 0;
								    padding: 0;
									text-align: center;
								}
									.modal-produto #myModal .modal-dialog .modal-content .modal-body .detalhe ul li{
										display: inline-block;
										font-family: 'gotham_bookregular';
										width: 100%;
										max-width: 215px;
										text-align: center;

										min-height: 80px;
										margin: 10px 0 0 0;
										padding: 10px 5px;
									}
										.modal-produto #myModal .modal-dialog .modal-content .modal-body .detalhe ul .borda{
											border-left: solid 1px #ccc;
											border-right: solid 1px #ccc;
										}
										.modal-produto #myModal .modal-dialog .modal-content .modal-body .detalhe ul li .cores{
											display: inline-block;
											margin: 0 5px;
											background: #5A4220;
											width: 25px;
											height: 25px;
											border-radius: 100%;
											cursor: pointer;
											border: 2px solid #bfbfbf;

										}
											.modal-produto #myModal .modal-dialog .modal-content .modal-body .detalhe ul li .cores:hover{
												border: 2px dashed #c93a7a;
											}
										.modal-produto #myModal .modal-dialog .modal-content .modal-body .detalhe ul li h2{
											margin: 0;
											text-transform: uppercase;
											font-size: 15px;
											font-weight: bold;
											color: #555;
										}
										.modal-produto #myModal .modal-dialog .modal-content .modal-body .detalhe ul li .preco{
											font-size: 15px;
										}
										.modal-produto #myModal .modal-dialog .modal-content .modal-body .detalhe ul li .preco p{
											color: #c93a7a!important;
										}
											.modal-produto #myModal .modal-dialog .modal-content .modal-body .detalhe ul li .preco p b{

											}
										.modal-produto #myModal .modal-dialog .modal-content .modal-body .detalhe ul li .botao-modal-detalhee {
											max-width: 180px;
											width: 100%;
											height: 50px;
											background: transparent;
											border: solid 2px #7D7D7D;
											font-family: 'Open Sans';
											text-transform: uppercase;
											font-size: 15px;
											font-weight: bold;
											font-style: italic;
											display: block;
											color: #3F3F3F;
											line-height: 45px;
											margin: 0 auto;
										}
										.modal-produto #myModal .modal-dialog .modal-content .modal-body .detalhe ul li .botao-modal-detalhee:hover{
											background: #c93a7a;
											color: #fff;
											border-color:#c93a7a;
										}
										.modal-produto #myModal .modal-dialog .modal-content .modal-body .detalhe ul li .botao-modal-detalhe{
											max-width: 180px;
											width: 100%;
											height: 50px;
											background: transparent;
											border: solid 2px #7D7D7D;
											font-family: 'Open Sans';
											text-transform: uppercase;
											font-size: 15px;
											font-weight: bold;
											font-style: italic;
										}
											.modal-produto #myModal .modal-dialog .modal-content .modal-body .detalhe ul li .botao-modal-detalhe:hover{
												background: #c93a7a;
												color: #fff;
												border-color:#c93a7a;
											}
									.modal-body .custom_previous{
										position: absolute;
										top: 25%;
										font-size: 75px;
										color: #C93A7A;
										margin: 20px;
										left:0;
										cursor: pointer;
									}
									.modal-body .custom_next{
										position: absolute;
										top: 25%;
										font-size: 75px;
										color: #C93A7A;
										margin: 20px;
										right:0;
										cursor: pointer;
									}
	
	/*PG*/
		.pg{

		}
		.woocommerce .woocommerce-error .button, .woocommerce .woocommerce-info .button, .woocommerce .woocommerce-message .button{
			width: 100%!important;
			max-width: 275px!important;
			min-height: 55px!important;
			text-align: center!important;

			border:solid 2px #666!important;									
			font-size: 16px!important;	
			display: block!important;
			background: transparent!important;
			color: #717070!important;	

			padding: 15px 0!important;
			font-family: "Open Sans"!important;
			text-transform: uppercase!important;
			font-weight: bold!important;
			
			letter-spacing: 1px!important;
			

		}
			.woocommerce .woocommerce-error .button, .woocommerce .woocommerce-info .button, .woocommerce .woocommerce-message .button:hover{
				background: #666!important;
				color:#fff!important;
			}
		.woocommerce .woocommerce-breadcrumb{
			color: #c93a7a;
			text-transform: uppercase;
			margin: 30px;
			font-size: 15px;
			font-family: 'gotham_bookregular';

		}
			.woocommerce .woocommerce-breadcrumb a{
				text-transform: uppercase;
				color:#737373;
			}
		.pg-titulo{
			text-align: center;
			font-size:40px;
			margin: 50px;
			font-family: 'gotham_bookregular';
			color: #717070;

		}
			.pg-titulo span{

			}
				.pg-titulo span i{
					font-size:40px;
				}
		button.close{
			margin: 20px;
			position: absolute;
			right: 0;
			top: 0;
			z-index: 100;
			font-size: 35px;
		}
		.lupa{
			position: absolute;
		    top: -20px;
			right: 0;
			margin: 20px;
			font-size: 25px;
			color: #666666;
		}
			.active{
				color: #c93a7a!important;
				font-style:initial!important;
			}
			.botao-compra{

			}
				.botao-compra{
					width: 100%;
					max-width: 275px;
					min-height: 55px;
					text-align: center;
					margin: 0 auto;
					border:solid 2px #666666;
					background: #fff;
					font-size: 20px;
					font-family: 'gotham_bookregular';
				}
					.botao-compra:hover{
						background: #c93a7a;
						color: #fff;
						border-color:#c93a7a;
					}
		.pg{
			padding-left: 10px!important;
			padding-right: 10px!important;
		}
		.panel{
			box-shadow: none!important;
		}
		a{
			text-decoration: none!important;
		}
			a:hover{
				text-decoration: none!important;
			}
		.btn-comprar,
		.btn-enviar{
			background: none;
			box-shadow: 0;
			border: 2px solid #666666;			
			color: #666666;
			font-weight: 600;
			width:100%;
			max-width: 275px;
			padding: 17px 0;
			font-family: 'gotham_bookregular';
			display: block;
		}
		.btn-enviar:hover{
			background: #666;
			color: #fff;
			border-color:#666;
		}
		
		.btn-comprar:hover{
			background: #666666;
			color: #fff;
			border-color:#666666;	
		}
		.caminho{
			margin: 40px 0 10px; 			
		}
			.caminho p {
				text-transform: uppercase;
			}
				.caminho p span {
					color: #c93a7a;
					text-transform: uppercase;
				}
		hr{
			background: #c0c0c0;	
			border-width: 0; 
			height: 1px;			
		}	
	
	/*RODAPÉ*/
		.rodape{
			margin-top: 20px;
				
		}
			.position-container{
				position: relative;
			}
				.rodape .nav{
					height: auto;					
					width: 100%;
					border-top: solid 1px #C0C0C0;
					border-bottom: solid 1px #C0C0C0;
					padding: 28px 0;
					
				}
					.rodape .nav ul{
						list-style: none;
						display: inline-block;
					}	
						.rodape .nav ul li{
							display: inline-block;
						    margin: 0 25px;
						}	
							.rodape .nav ul li a{
								font-size: 13px;
								text-transform: uppercase;
								font-weight: 500;
								color: #717070;
								font-family: 'gotham_bookregular';
								text-align: center;
								letter-spacing: 3px;
							}
								.rodape .nav ul li a:hover{
									color: #c93a7a!important;	
								}	
					.rodape .form{
						display: inline-block;
						position: absolute;
						right: 0;
						margin: 0 20px;

					}
						.rodape .assinar{
													
							font-size: 13px;
							text-decoration: none;							
							font-weight: bold;
							color: #4D4A4A;
							font-family: 'gotham_bookregular';
							text-transform: uppercase;
							/* font-weight: 100; */
							letter-spacing: 3px;

						}					
							.rodape .form .input-novidades{
								border: 0!important;
								outline: none!important;
								margin: 0 0 0 20px!important;
								padding-bottom: 5px!important;

							}
								::-webkit-input-placeholder {
									text-transform: uppercase;									
									font-size: 15px;
									padding: 0 0 0 5px;
									letter-spacing: 2px;
									color: #7B7B7B !important;
								}

								:-moz-placeholder {
									text-transform: uppercase;									
									font-size: 15px;
									padding: 0 0 0 5px;
									letter-spacing: 2px;
									color: #7B7B7B !important;
								}

								::-moz-placeholder {
									text-transform: uppercase;									
									font-size: 15px;
									padding: 0 0 0 5px;
									letter-spacing: 2px;
									color: #7B7B7B !important;
								}

								:-ms-input-placeholder {  
									text-transform: uppercase;									
									font-size: 15px;
									padding: 0 0 0 5px;
									letter-spacing: 2px;
									color: #7B7B7B !important;
								}
							.rodape .form .botao-novidades{
								border: 0!important;
								background: transparent!important;
								outline: none!important;
								margin: 0;
								position: absolute;
								right: 0;
								top: 0;
							}
								.rodape .form .botao-novidades i{
								   color: #C93A7A;
								   font-size: 18px;

								}
								.widget_wysija_cont .wysija-submit{
									display: inline;

								}
								.wysija-paragraph{
									display: inline;
								}
								.rodape .form .input-novidades{
									background: transparent!important;
								}
								.formError{
									opacity: 0.87!important;
									position: absolute!important;
									top: 44px!important;
									left: 15px!important;
									margin-top: 25px!important;
								}

				.rodape span{
					display: block;
					margin: 40px 0;
					color: #717070;
					font-size: 17px;
					font-weight: 100;					
					font-family: 'gotham_bookregular';
					padding: 0 20px;
				}
				.rodape .redes-sociais{
					display: block;
					text-align: right;
					margin: 40px 0;

				}
					.rodape .redes-sociais a{
						font-size: 24px;
						color: #717070;
						margin: 5px;

					}
						.rodape .redes-sociais a:hover{
							color: #c93a7a!important;

						}	
						.rodape .redes-sociais i{
							
						}
		
	/*PÁGINA INICIAL*/
		.pg-inicial{
			padding: 0!important;
			margin: 0!important;
		}	
			/*CARROSSEL DESTAQUE*/
				.pg-inicial .carrossel-topo{
					
				}
					.pg-inicial .carrossel-topo .owl-Carousel{
				
					}
						.pg-inicial .carrossel-topo .owl-Carousel .item{
							height: 850px;
							width: 100%;	
							background-size: cover!important;
							background-position: center!important;
							
						}
							.pg-inicial .carrossel-topo  #carrossel-inicial .owl-dots {
								position: absolute;
								bottom: -20px;
								left: 50%;
								-webkit-transform: rotate(90deg);
								-moz-transform: rotate(90deg);
								-o-transform: rotate(90deg);
								


							}
								.pg-inicial .carrossel-topo  #carrossel-inicial .owl-dot span{
								    display: inline-block;
								    width: 12px;
								    height: 12px;
								    margin: 5px 7px;
								    border: 1px solid #545353;
								    border-radius: 20px;
								    background: #545353;
								}
									.pg-inicial .carrossel-topo #carrossel-inicial .owl-dot.active span{
										background-color:#c93a7a;
										border-color:#c93a7a;

									}
								
								.pg-inicial .carrossel-topo .owl-Carousel .item .info{
									position: absolute;
									top: 185px;
									width: 100%;
									max-width: 300px;
									text-align: center;
								}
									.pg-inicial .carrossel-topo .owl-Carousel .item .info h2{
										color: #c93a7a;	
										font-family: 'pr8_charaderegular'!important;	
										font-size: 115px;
										line-height: 87px;

									}
									.pg-inicial .carrossel-topo .owl-Carousel .item .info h3{
										font-family: "Open Sans";
										text-transform: uppercase;
										color: #717070;
										font-size: 30px;
										margin: 25px 0;
										font-weight: 100;	
									}
									.pg-inicial .carrossel-topo .owl-Carousel .item .info p{
										width: 100%;
										max-width: 170px;
										margin: 0 auto;
										line-height: 20px;
										font-family: "Open Sans";
										color: #717070;		
									}
									.pg-inicial .carrossel-topo .owl-Carousel .item .info a{
										width: 100%;
										max-width: 275px;
										min-height: 55px;
										text-align: center;
										
										border:solid 2px #666;									
										font-size: 16px;	
										display: block;
										background: transparent;
										color: #717070;	
										
										padding: 15px 0;
										font-family: "Open Sans";
										text-transform: uppercase;
										font-weight: bold;
									    margin: 30px 0 80px;
									    letter-spacing: 1px;


									}
										.pg-inicial .carrossel-topo .owl-Carousel .item .info a:hover{
											background: #666!important;
											color:#fff;

										}	
									.pg-inicial .carrossel-topo .owl-Carousel .item .info span{
										font-size: 20px;
										color: #717070;
										font-family: "Open Sans";	
										font-weight: 100;
									}
										.pg-inicial .carrossel-topo .owl-Carousel .item .info span b{
											color:#C93A7A;	
											font-weight: 100;
											font-size: 23px;		
										}
	
	/*AREA PRODUTOS*/
		.pg-inicial{

		}	
			.pg-inicial .produtos{

			}	
				.pg-inicial .produtos ul{
					list-style: none;
					text-align: center;
				}	
				.pg-inicial .produtos .woocommerce .products ul, .woocommerce ul.products{
					list-style: none!important;
					text-align: center!important;
					width: 100%;
					max-width: 1280px;
					margin: 0 auto;
				}	
					.pg-inicial .produtos li{
						width: 100%;
						max-width: 300px;
						min-height: 300px;
						display: inline-block;
						position: relative;
						text-align: center;
					    margin: 90px 30px 0;

					}
					.woocommerce a.added_to_cart{						
						white-space: none!important; 
						display: inline-block;
						position: absolute;
						top: -10px;
						font-size: 30px;
						left: 0;					
						color: transparent;						

					}

					.woocommerce ul.products li.product a img{
					    max-width: 290px!important;
					}
					.woocommerce ul.products li.product .star-rating{
						margin-left: 10px!important;
					    color: #C93A7A!important;
					}
						.woocommerce a.added_to_cart::before{
							content: '\f07a ';
							font-family: FontAwesome;
							color: #8FAE1B;
						}
							.woocommerce a.added_to_cart:hover:before{
								color:#C93A7A;
							}
					.pg-inicial .produtos .woocommerce ul.products li.product, .woocommerce-page ul.products li.product{
						width: 100%!important;
						max-width: 300px!important;
						min-height: 300px!important;
						display: inline-block!important;
						position: relative!important;
						text-align: center!important;
					    margin: 5px 60px 0!important;
					    float:none!important;
				        margin-bottom: 40px!important;
				        position: relative;

					}
					.woocommerce-page ul.products li.product{
						margin: 5px 60px 0!important;
						margin-bottom: 40px!important;
					}
					.woocommerce ul.products li.product .onsale{
					    top: -60px!important;
					  
					}
						.woocommerce span.onsale{
							background: transparent;
							font-family: 'pr8_charaderegular'!important;
							font-weight: 100!important;
						    font-size: 35px;
							top: -60px;
							color: #C93A7A;
						}
						.pg-inicial .produtos ul li .new{
							position: absolute;
							top: -60px;
							right: 0;
							font-weight: 100!important;
							font-size: 50px;
							font-family: 'pr8_charaderegular'!important;							
						}	
							.pg-inicial .produtos ul li {

							}	
								.pg-inicial .produtos ul li  .item{
									
									min-height: 115px;
									
									margin: 0 auto;
								}		
									.pg-inicial .produtos ul li  .item img{
										margin:0 auto;
										/*max-height: 120px;*/
									}
										
										.pg-inicial .produtos li h2 ,.woocommerce ul.products li.product h3{													
										    text-align: left!important;
										    margin: 30px 0 0 0!important;
										    text-transform: uppercase!important;
										    font-size: 13px!important;
										    font-weight: bold!important;
										    font-family: 'gotham_bookregular'!important;
									        padding: 0 0 0 10px!important;
									        color: #666666!important;
										}
										.pg-inicial .produtos li span{
											text-align: left;
											font-weight: bold;
											color: #c93a7a;
											/* margin: 0 0 25px 0; */
											font-size: 15px;
											height: 40px;
											display: block;
											padding: 0 0 0 5px;
										}
										 .woocommerce ul.products li.product .price{
											text-align: left!important;
											font-weight: bold!important;
											color:#c93a7a!important;
										    height: 25px;
											font-size:15px!important;
											display: block!important;
										    padding: 0 0 0 10px!important;
									        min-height: 42px!important;
										}
											 .woocommerce ul.products li.product .price .amount{
											 	text-decoration:none!important;
											 }
										.pg-inicial .produtos li .foto-modal{
											position: absolute;
											bottom: 100px;
											right: 0;
											margin: 20px;
											font-size: 25px;
											color: #939393;
											outline: none;
										}
										#link-modal img{
											max-width: 70px!important;
											position: absolute;
											top: 10px;
											right: 0;
										}
											.pg-inicial .produtos li .foto-modal img{

											}
										.pg-inicial .produtos li .botao-compra,.woocommerce ul.products li.product .button{
											width: 100%;
											max-width: 275px;
											min-height: 55px;
											text-align: center;
											margin: 25px auto;
											border: solid 2px #666;
											background: #fff;
											font-size: 14px;
											letter-spacing: 3px;
											text-transform: uppercase;
											font-weight: bold;
											color: #5D5A5A;
											font-family: 'gotham_bookregular';
											display: block;
											line-height: 50px;
											padding: 0;
										}
										.woocommerce ul.products li.product .button{
											margin-bottom: 0!important;
										}
											.pg-inicial .produtos li .botao-compra:hover{
												background: #666;
												color: #fff;
												border-color:#666;
											}
											.pg-inicial .produtos li .botao-compra:hover{
												background: #666!important;
												color: #fff!important;
												border-color:#666!important;
											}
											  .woocommerce ul.products li.product .button:hover{
												background: #666!important;
												color: #fff!important;
												border-color:#666!important;
											}
										.pg-inicial .produtos ul li .carrossel .botoes{
											
										}	
											.pg-inicial .produtos ul li .carrossel .botoes .navegacaoProdutoFrent{
												border: 0;
												background: transparent;
												font-size: 45px;
												color: #C93A7A;	
												position: absolute;
												left: 0;
												outline: none;
												top: 20px;
												z-index: 1;
											}
											.pg-inicial .produtos ul li .carrossel .botoes .navegacaoProdutoTras{
												border: 0;
												background: transparent;
												font-size: 45px;
												color: #C93A7A;	
												position: absolute;
												right: 0;
												outline: none;
												top: 20px;
												z-index: 1;

											}
			.pg-inicial .vermais{
				color: #727272;
				display: block;
				text-align: center;
				font-weight: bold;
				font-size: 15px;
				margin: 15px;
				text-transform: uppercase;
				font-family: 'gotham_bookregular';
			}	
			.vermais{
				color: #727272;
				display: block;
				text-align: center;
				font-weight: bold;
				font-size: 15px;
				margin: 15px;
				text-transform: uppercase;
				font-family: 'gotham_bookregular';
			}	

	/*PÁGINA DE LOGIN*/
		.pg-login{

		}
			 .entry-header{
				display: none!important;

			}
				.pg-login .info-conta span{
					color: #666666;
					font-size: 18px;
				}
				.pg-login .info-conta small{

				}
			.pg-login .form{
				width: 100%;
				max-width: 485px;
				margin: 35px 0;
			}
				.pg-login .form label{
					text-transform: uppercase;
					color: #7B7B7B;
				    font-size: 16px;
				    font-family: 'gotham_bookregular';
				}
				.pg-login .form input{
					width: 100%;
					height: 35px;
				    border-radius: 0;
			        border: 1px solid #ccc;
				}
			.pg-login .form a{
				color: #666666;
				letter-spacing: 2px;		
			}
				.pg-login .form a:hover{
					text-decoration: underline!important;
				}
			.pg-login button{
				background: none;
				box-shadow: 0;
				border: 2px solid #666666;			
				color: #666666;
				font-weight: 600;
				width:100%;
				max-width: 275px;
				padding: 17px 0;
				display: block;
				text-transform: uppercase;
				letter-spacing: 2px;
				margin: 35px 0;
			}
				.pg-login button:hover{
					background: #666;
					color: #fff;
				}
			.pg-login .info-senha{
				color: #5B5959;
				font-size: 15px;
				font-family: 'gotham_bookregular';
			}
			.pg-login .redefinir{
				width: 100%!important;
				max-width: 275px!important;
				min-height: 55px!important;
				text-align: center!important;

				border:solid 2px #666!important;									
				font-size: 16px!important;	
				display: block!important;
				background: transparent!important;
				color: #717070!important;	

				padding: 15px 0!important;
				font-family: "Open Sans"!important;
				text-transform: uppercase!important;
				font-weight: bold!important;
				margin: 30px 0 80px!important;
				letter-spacing: 1px!important;
			}
				.pg-login .redefinir:hover{
					background: #666!important;
					color:#fff!important;
				}
			.pg-login .titulo{
				color: #5B5959;
				font-size: 15px;
				font-family: 'gotham_bookregular';
				margin: 20px 0;
				text-align: left;
			}
				.pg-login .titulo span{
				
				}
			.pg-login .form-cadastro{
			
			}
				.pg-login .form-cadastro label{
					text-transform: uppercase;
					color: #7B7B7B;
				    font-size: 16px;
				    font-family: 'gotham_bookregular';
				    display: block;
				}
					.pg-login .form-cadastro  input{
						width: 100%;
						height: 35px;
						border-radius: 0;
						max-width: 400px;
						margin-bottom:20px;

					}
					.pg-login .form-cadastro  .select{
						width: 100%;
						height: 35px;
						border-radius: 0;
						max-width: 400px;
						margin-bottom:20px;
					}

	/*MINHA CONTA*/
		.pg-catprod{
			text-align: center;
		}
			.pg-catprod address{
				color: #c93a7a!important;
			}
			.pg-catprod h2{
				font-family: 'gotham_bookregular'!important;
			}
			.pg-catprod .link{
				color: #c93a7a!important;	
				
			}
			.pg-catprod .conteudo-diag{
			
			}
				.pg-catprod .conteudo-diag strong{
			
				}
				.pg-catprod .conteudo-diag span{
					font-size: 25px;
					margin: 20px 0;
					display: block;
				}
					.pg-catprod .conteudo-diag span i{
						margin:5px;
						font-size: 40px;
					}
					.woocommerce-account .addresses .title h3{
						float: inherit!important;
						font-family: 'gotham_bookregular'!important;
					}
					.woocommerce-account .addresses .title .edit, .woocommerce-account ul.digital-downloads li .count{
						float: inherit!important;
						width: 100%!important;
						max-width: 275px!important;
						min-height: 55px!important;
						text-align: center!important;

						border:solid 2px #666!important;									
						font-size: 16px!important;	
						display: block!important;
						background: transparent!important;
						color: #717070!important;	

						padding: 15px 0!important;
						font-family: 'gotham_bookregular'!important;
						text-transform: uppercase!important;
						font-weight: bold!important;
						margin: 30px auto 80px!important;
						letter-spacing: 1px!important;
					}	
						.woocommerce-account .addresses .title .edit:hover{
							background: #666!important;
							color:#fff!important;
						}	
						.woocommerce table.my_account_orders .order-actions .button{
							width: 100%!important;
							max-width: 275px!important;
							
							text-align: center!important;

							border:solid 2px #666!important;									
							font-size: 16px!important;	
							display: block!important;
							background: transparent!important;
							color: #717070!important;	

							padding: 15px 0!important;
							font-family: "Open Sans"!important;
							text-transform: uppercase!important;
							font-weight: bold!important;
						    margin: 5px auto!important;
							letter-spacing: 1px!important;	
						}
						.woocommerce table.my_account_orders .order-actions .button:hover{
							background: #666!important;
							color: #fff!important;
						}
						.woocommerce table.my_account_orders td, .woocommerce table.my_account_orders th{
						    font-size: 15px;
						}
						.order-number a{
							color:#C93A7A;
						}

	/*EDITAR CONTA*/
		.pg-editar{

		}
			 .entry-title{
				text-align: center !important;
				color: #666666;
			}	
			.pg-editar .info-conta{

			}
				.pg-editar .info-conta span{
					color: #666666;
					font-size: 18px;
				}
				.pg-editar .info-conta small{

				}
			.pg-editar .form{
				width: 100%;
				
				margin: 35px 0;
			}
				.pg-editar .form label{
					text-transform: uppercase;
					color: #7B7B7B;
				    font-size: 16px;
				    font-family: 'gotham_bookregular';
				}

				.pg-editar .form-group{
					max-width: 430px;
					display: block;
					
				}
					.pg-editar .form input{
						width: 100%;
						height: 35px;
					    border-radius: 0;
					}
			.pg-editar .form a{
				color: #666666;
				letter-spacing: 2px;		
			}
				.pg-editar .form a:hover{
					text-decoration: underline!important;
				}
			.pg-editar button{
				background: none;
				box-shadow: 0;
				border: 2px solid #666666;			
				color: #666666;
				font-weight: 600;
				width:100%;
				max-width: 275px;
				padding: 17px 0;
				display: block;
				text-transform: uppercase;
				letter-spacing: 2px;
				margin: 35px 0;
			}
				.pg-editar button:hover{
					background: #666;
					color: #fff;
				}
			.pg-editar .info-senha{
				color: #5B5959;
				font-size: 15px;
				font-family: 'gotham_bookregular';
			}
			.pg-editar .redefinir{
				width: 100%!important;
				max-width: 275px!important;
				min-height: 55px!important;
				text-align: center!important;

				border:solid 2px #666!important;									
				font-size: 16px!important;	
				display: block!important;
				background: transparent!important;
				color: #717070!important;	

				padding: 15px 0!important;
				font-family: "Open Sans"!important;
				text-transform: uppercase!important;
				font-weight: bold!important;
				margin: 30px 0 80px!important;
				letter-spacing: 1px!important;
			}
				.pg-editar .redefinir:hover{
					background: #666!important;
					color:#fff!important;
				}

	/*EDITAR ENDEREÇO*/
		.pg-endereco{

		}
			 .entry-title{
				text-align: center !important;
				color: #666666;
			}	
			.pg-endereco .info-conta{

			}
				.pg-endereco .info-conta span{
					color: #666666;
					font-size: 18px;
				}
				.pg-endereco .info-conta small{

				}
			.pg-endereco .form{
				width: 100%;
				
				margin: 35px 0;
			}
				.pg-endereco .form label{
					text-transform: uppercase;
					color: #7B7B7B;
				    font-size: 16px;
				    font-family: 'gotham_bookregular';
				}

				.pg-endereco .form-group{
					max-width: 430px;
					display: block;
					
				}
					.woocommerce form .form-row input.input-text, .woocommerce form .form-row textarea{
						width: 100%!important;
						
						height: 30px!important;	
					    border-radius: 0;
					}
			.pg-endereco .form a{
				color: #666666;
				letter-spacing: 2px;		
			}
				.pg-endereco .form a:hover{
					text-decoration: underline!important;
				}
			.pg-endereco button{
				background: none;
				box-shadow: 0;
				border: 2px solid #666666;			
				color: #666666;
				font-weight: 600;
				width:100%;
				max-width: 275px;
				padding: 17px 0;
				display: block;
				text-transform: uppercase;
				letter-spacing: 2px;
				margin: 35px 0;
			}
				.pg-endereco button:hover{
					background: #666;
					color: #fff;
				}
			.pg-endereco .info-senha{
				color: #5B5959;
				font-size: 15px;
				font-family: 'gotham_bookregular';
			}
			.pg-endereco .redefinir{
				width: 100%!important;
				max-width: 275px!important;
				min-height: 55px!important;
				text-align: center!important;

				border:solid 2px #666!important;									
				font-size: 16px!important;	
				display: block!important;
				background: transparent!important;
				color: #717070!important;	

				padding: 15px 0!important;
				font-family: "Open Sans"!important;
				text-transform: uppercase!important;
				font-weight: bold!important;
				margin: 30px 0 80px!important;
				letter-spacing: 1px!important;
			}
				.pg-endereco .redefinir:hover{
					background: #666!important;
					color:#fff!important;
				}	

				.woocommerce form .form-row select{
					width: 100%;
					height: 35px;
					border-radius: 0;
					max-width: 400px;
					margin-bottom:20px;
				}				
		
	/*CARRINHO*/
		.pg-carrinho{
			
		}
		.woocommerce table.shop_table {
			border: 3px solid rgba(0, 0, 0, 0.33);
			margin: 0 -1px 24px 0;
			text-align: left;
			width: 100%;
			border-collapse: separate;
			border-radius: 5px;
		    height: 250px;
		    border-radius:0!important;
		}	
			.pg-carrinho .info-dados{
				display: block;
				text-align: center;
				font-family: 'gotham_bookregular';
				text-transform: uppercase;
				color: #4C4C4C;	
				font-size: 12px;
			
			}		
			.pg-carrinho .info-dados-produto{
				font-family: 'gotham_bookregular';
				text-transform: uppercase;
				text-align: center;
			
			}	
			.pg-carrinho .info-dados-nome a{
				font-family: 'gotham_bookregular';
				text-transform: uppercase;
				/*text-align: center;*/
				color: #4C4C4C;	
				display: block;
				font-weight: bold;
			
			}	
			.pg-carrinho .info-dados-preco{
				font-size: 17px;
				text-transform: uppercase;
				text-align: center;
				color: #c93a7a;	
				font-weight: bold;
			
			}
			.woocommerce .quantity .qty{
				border: 0;
				color: #c93a7a;	
				font-family: 'gotham_bookregular';
				font-weight: bold;
				font-size:17px;
			}	
			.woocommerce a.remove{
				display: block;
				font-size: 1.5em;
				height: 1em;
				width: 1em;
				text-align: center;
				line-height: 1;
				border-radius: 100%;
				color: #717070!important;	
				text-decoration: none;
				font-weight: 700;
				font-size: 28px;
				border: 0;
			}
				.woocommerce a.remove:hover{
					background: #C93A7A!important;
				}	
			.woocommerce-cart table.cart img{
				width: 220px!important;
				margin: 0 auto!important;
				box-shadow: none!important;
			}
			.pg-carrinho .info-cupom{
				font-family: 'gotham_bookregular';
				color: #717070!important;
				text-transform: uppercase;
				font-size: 16px;
				font-weight: 100;
			    padding: 10px 0 0 0;
			}
			.pg-carrinho .correcao{
				display: block!important;
				text-align: right;
				width: 100%;
				height: 113px;
				position: relative;

			}

			.pg-carrinho .redefinir{
				width: 100%!important;
				max-width: 275px!important;
				min-height: 55px!important;
				text-align: center!important;
				border:solid 2px #666!important;									
				font-size: 16px!important;	
				display: block!important;
				background: transparent!important;
				color: #717070!important;	
				padding: 15px 0!important;
				font-family: "Open Sans"!important;
				text-transform: uppercase!important;
				font-weight: bold!important;
				position: absolute;
				right: 0;
				
				letter-spacing: 1px!important;
			}
				.pg-carrinho .redefinir:hover{
					background: #666!important;
					color:#fff!important;
				}
			.pg-carrinho .text-cupom{
				width: 100%;
				max-width: 190px;
				height: 55px;
				padding: 0 5px;
			}
				.pg-carrinho .buttom-cupom{
					width: 100%!important;
					max-width: 80px!important;
					height: 55px!important;
					border:solid 2px #666!important;	
					background: transparent!important;
					font-style: italic!important;
					font-family: 'gotham_bookregular';
				}
					.pg-carrinho .buttom-cupom:hover{
						background: #666!important;
						color: #fff!important;
					}
			.shipping-calculator-form{
				display: block!important;
			}
			.pg-carrinho .woocommerce form .form-row input.input-text, .woocommerce form .form-row textarea{
				width: 100%!important;
				max-width: 190px!important;
				height: 55px!important;	
			}
			.woocommerce .cart-collaterals .cart_totals, .woocommerce-page .cart-collaterals .cart_totals{
				width: 30%!important;
			}
				.pg-carrinho .sub-total{
					border: 0!important;
				}
					.pg-carrinho .sub-total .preco{
						text-align: right !important;
						color: #c93a7a!important;
						font-weight: 700!important;	
					}
					.woocommerce ul#shipping_method .amount{
					
						color: #c93a7a!important;	
						font-weight: 700!important;
					}
					.woocommerce-cart .cart-collaterals .cart_totals table th{
					
					}
						.woocommerce ul#shipping_method{
							
						}
					 .order-total th{
						font-weight: bold!important;
						font-family: "Open Sans"!important;
						
					}
						.order-total  strong{
							text-align: right !important;
							color: #c93a7a!important;
							font-weight: 700!important;
							display: block;

						}
					.woocommerce-cart .cart-collaterals .cart_totals tr td, .woocommerce-cart .cart-collaterals .cart_totals tr th{
						
						width: 0!important;
						border-bottom: solid 1px #c0c0c0!important;
						color: #4C4C4C;	
						font-family: 'gotham_bookregular';
						font-weight: 100;
						text-transform: uppercase;
					}
					.woocommerce-cart .wc-proceed-to-checkout a.checkout-button{
						width: 100%!important;
						max-width: 275px!important;
						min-height: 55px!important;
						text-align: center!important;
						border:solid 2px #666!important;									
						font-size: 16px!important;	
						display: block!important;
						background: transparent!important;
						color: #717070!important;	
						padding: 15px 0!important;
						font-family: "Open Sans"!important;
						text-transform: uppercase!important;
						font-weight: bold!important;
						margin: 0 auto;		
						letter-spacing: 1px!important;
					}
												.woocommerce-cart .wc-proceed-to-checkout a.checkout-button:hover{
							background: #666!important;
							color: #fff!important;
						}
					.return-to-shop{

					}
					 .return-to-shop a{
						width: 100%!important;
						max-width: 275px!important;
						min-height: 55px!important;
						text-align: center!important;
						border:solid 2px #666!important;									
						font-size: 16px!important;	
						display: block!important;
						background: transparent!important;
						color: #717070!important;	
						padding: 15px 0!important;
						font-family: "Open Sans"!important;
						text-transform: uppercase!important;
						font-weight: bold!important;
						margin: 50px auto!important;
						right: 0;						
						letter-spacing: 1px!important;
					}
						.return-to-shop a:hover{
							background: #666!important;
							color:#fff!important;
						}
					.cart-empty{
						text-align: center!important;
						font-size: 20px;
						margin-top: 50px;
					}

	/*DETALHE DA COMRPA*/
		.pg-confirmacao-detalhe-cobranca{

		}
			.pg-confirmacao-detalhe-cobranca .form{
			
			}
				.pg-confirmacao-detalhe-cobranca .form input{
					height: 30px!important;
			
				}
				.woocommerce #respond input#submit.alt, .woocommerce a.button.alt, .woocommerce button.button.alt, .woocommerce input.button.alt{
					width: 100%!important;
					max-width: 275px!important;
					min-height: 55px!important;
					text-align: center!important;

					border:solid 2px #666!important;									
					font-size: 16px!important;	
					display: block!important;
					background: transparent!important;
					color: #717070!important;	

					padding: 15px 0!important;
					font-family: "Open Sans"!important;
					text-transform: uppercase!important;
					font-weight: bold!important;
					margin: 30px 0 80px!important;
					letter-spacing: 1px!important;
				}
					.woocommerce button.button.alt, .woocommerce input.button.alt:hover{
						background: #666!important;
						color:#fff!important;
					}
					.woocommerce form .form-row.woocommerce-invalid .select2-container, .woocommerce form .form-row.woocommerce-invalid input.input-text, .woocommerce form .form-row.woocommerce-invalid select{
						border-color:#666; 
					}
					.woocommerce form .form-row.woocommerce-validated .select2-container, .woocommerce form .form-row.woocommerce-validated input.input-text, .woocommerce form .form-row.woocommerce-validated select{
						border-color:#ccc; 
					}
					#order_comments{

					}
					.woocommerce table.shop_table td .amount{
						color: #C93A7A;
						text-align: right;
					}
						
	/* PÁGINA BLOG*/
		.pg-blog{

		}
			.pg-blog .data{
				font-style: italic;
				color: #717070;
				display: block;
				font-family: 'Open Sans';
				text-transform: uppercase;
				margin: 0 0 20px;
				padding: 0 10px;
				font-size: 12px
			}
			/*POST*/
				.pg-blog .post{
					margin: 20px 0;
					border-bottom: solid 1px #ccc;
					min-height: 600px;
					z-index: -2;
				}
					.pg-blog .post .titulo-post{						
						
						width: 100%;
						position: relative;
					}
						.pg-blog .post .titulo-post p{
							font-size: 20px;
							font-weight: bold;
							color: #717070;
						    padding: 0 10px;
						    font-family: 'gotham_boldregular';
						    text-transform: uppercase;
						}
						.pg-blog .post .titulo-post span{
							position: absolute;
							right: 0;
							margin: 10px 20px;
							top: 30px;
							font-style: italic;
							font-family: 'Open Sans';
							color: #717070;
							text-transform: uppercase;

						}
					.pg-blog .post .bg-post{
						height: 355px;
						width: 100%;
						background-size: cover !important;
					    background-position: center!important;
					}
					.pg-blog .post .descricao{
						max-width: 800px;
						width: 100%;
						color: #656565;
						font-size: 13px;
						line-height: 20px;
						padding: 20px;
					    font-family: 'Open Sans';
					}
					.pg-blog .post a{
						font-family: 'Open Sans';
						color: #656565;
						font-size: 16px;
						font-weight: 700;
						font-style: italic;
						padding: 10px;
						text-transform: uppercase;
					    letter-spacing: 2px;
					    font-family: 'gotham_boldregular';

					}
						.pg-blog .post a:hover{
							text-decoration: underline!important;
						}
			.pg-blog .paginador{
				text-align: center;

			}
				.pg-blog .paginador ul{
					list-style: none;
				}
					.pg-blog .paginador li{
						display: inline-block;
						font-size: 25px;
						margin: 30px 5px;
					}
						.pg-blog .paginador li a{
							color: #717070;
							font-weight: 100;
							font-family:"Open Sans";
						}
							.pg-blog .paginador li a:hover{
								color: #c93a7a;
					
							}
							.pg-blog .paginador li a i{
								color: #c93a7a;
							}

	/*´PÁGINA BLOG POSTAGEM*/
		.pg-postagem{

		}
			
			/*POST*/
				.pg-postagem .post{
					margin: 20px 0;
					border-bottom: solid 1px #ccc;
					min-height: 600px;
					z-index: -2;
				}
					.pg-postagem .post .titulo-post{						
						
						width: 100%;
						position: relative;
					}
						.pg-postagem .post .titulo-post p{
							font-size: 20px;
							font-weight: bold;
							color: #717070;						    
						    font-family: 'gotham_boldregular';
						    text-transform: uppercase;
						    text-align: center;
						}	
							.pg-postagem .data{
								font-style: italic;
								color: #717070;
								display: block;
								font-family: 'Open Sans';
								text-transform: uppercase;
								text-align: center;
								padding: 0 10px;
								font-size: 12px;
								margin-bottom:50px;
							}						
						.pg-postagem .post .titulo-post span{
							position: absolute;
							right: 0;
							margin: 10px 20px;
							top: 30px;
							font-style: italic;
							font-family: 'Open Sans';
							color: #717070;
							text-transform: uppercase;

						}
					.pg-postagem .post .bg-post{
						height: 690px;
						width: 100%;
						margin:20px 0;
						background-size: cover !important;
					    background-position: center!important;
					}
					.pg-postagem .post .descricao{
						max-width: 800px;
						width: 100%;
						color: #656565;
						font-size: 13px;
						text-align: center;
						line-height: 20px;
						padding: 20px;
						margin: 20px auto;
					    font-family: 'Open Sans';
					}
					.pg-postagem .post a{
						font-family: 'Open Sans';
						color: #656565;
						font-size: 16px;
						font-weight: 700;
						font-style: italic;
						padding: 10px;
						text-transform: uppercase;
					    letter-spacing: 2px;
					    font-family: 'gotham_boldregular';

					}
						.pg-postagem .post a:hover{
							text-decoration: underline!important;
						}
			.pg-postagem .paginador{
				text-align: center;

			}
				.pg-postagem .paginador ul{
					list-style: none;
				}
					.pg-postagem .paginador li{
						display: inline-block;
						font-size: 25px;
						margin: 30px 5px;
					}
						.pg-postagem .paginador li a{
							color: #717070;
							font-weight: 100;
							font-family:"Open Sans";
						}
							.pg-postagem .paginador li a:hover{
								color: #c93a7a;
					
							}
							.pg-postagem .paginador li a i{
								color: #c93a7a;
							}

	/* PÁGINA QUEM SOMOS */
		.pg-quem-somos{
			padding: 0!important;
		}
			.pg-quem-somos .foto{
				min-height: 800px;
				position: relative;
				background-size: cover!important;
				background-position: center!important;
			}
				.pg-quem-somos .foto .frase{
					position: absolute;
					top: 50%;
					left: 50%;
					-webkit-transform: translate(-50%,-50%);
					-ms-transform: translate(-50%,-50%);
					-o-transform: translate(-50%,-50%);
					transform: translate(-50%,-50%);
					width: 60%;
					height: 130px;
					text-align: center;
				}
					.pg-quem-somos .foto .frase p {
						font-family: "Open Sans";
						font-size: 42px;
						color: #c93a7a;
						font-weight: 900;
						text-transform: uppercase;
						width: 100%;
						max-width: 715px;
						margin: 0 auto;
						line-height: 50px;
					}

			.pg-quem-somos .sobre{
				padding: 80px 0;				
			}
				.pg-quem-somos .sobre .texto{
					max-width: 720px;
					display: block;
    				margin: 0 auto;
				}
					.pg-quem-somos .sobre .texto p {
						color: #666666;
						font-size: 13px;						
						line-height: 25px;
						padding: 10px;	
						font-family: 'gotham_bookregular';									
					}	

	/* PG CONTATO */
		.pg-contato{
			padding: 40px 0;
			text-align: left;
			margin-bottom: 80px;
		}
			.pg-contato .caminho{
				margin-bottom: 35px;

			}
				.pg-contato .caminho p {
					text-transform: uppercase;
				}
					.pg-contato .caminho p span {
						color: #c93a7a;
						text-transform: uppercase;

					}
			.pg-contato .formulario{}
				.pg-contato .formulario .form-group{
					max-width: 500px;
				}
					.pg-contato .formulario .form-group label {
						font-size: 16px;
						color: #666666;
						font-family: 'gotham_bookregular';
					}
					.pg-contato .formulario .form-group input {
						width: 100%;
						border: 1px solid #c0c0c0;
						border-radius: 0;
						box-shadow: none!important;
					}
					.pg-contato .formulario .texarea-correcao{
						max-width: 672px;
						width: 100%;
					}
						.pg-contato .formulario .texarea-correcao textarea {
							max-width: 672px;
							border: 1px solid #c0c0c0;
							border-radius: 0;
							box-shadow: none!important;
							max-height:175px!important;
						}
					.pg-contato .formulario .form-group button {
						padding: 20px 30%;
					}
					div.wpcf7-mail-sent-ok {
						font-family: 'gotham_bookregular'!important;
						border: 0!important;
						font-style: italic!important;
					}

	/* PG SINGLE PRODUTO */
		.pg-single-produto{
			padding-top: 35px;
		}
			.pg-single-produto .caminho{				
			}
				.pg-single-produto .caminho p {}
					.pg-single-produto .caminho p span {
						color: #c93a7a;
					}
			.pg-single-produto .produto{
				padding: 35px 0 10px 0;
				margin-bottom: 10px;
			}
				.pg-single-produto .produto .imagem{}
					.pg-single-produto .produto .imagem #carrossel-imagem{
						text-align: center!important;
					}
						.pg-single-produto .produto .imagem #carrossel-imagem .item{
							width: 100%;
							height: 400px;
							display: block;
							margin: 0 auto;
							text-align: center!important;
							position: relative;
						}
							.pg-single-produto .produto .imagem .botao-zoom {
								display: block;
								text-align: right;
								margin: 0 90px 0 0;
								width: 100%;
								position: relative;
								outline: none;
							}
								.pg-single-produto .produto .imagem .botao-zoom img{
									display: block;
									position: absolute;
									bottom: 50px;
									right: 60px;
									z-index: 2;
								}
							.pg-single-produto .produto .imagem #carrossel-imagem .item img {								
    							width: initial;
    							max-height: 400px;
    							position: absolute;
    							top: 50%;
								left: 50%;
								-webkit-transform: translate(-50%,-50%);
									-ms-transform: translate(-50%,-50%);
									 -o-transform: translate(-50%,-50%);
			    						transform: translate(-50%,-50%);
							}
							.pg-single-produto .produto .imagem .navegacaoProdutodetalheFrent{
								margin: 20px;
								left: 30px;
								border: 0;
								background: 0;
								font-size: 70px;
								position: absolute;
								top: 30%;
								color: #C93A7A;
								z-index: 1;
								outline: none;
							}
							.pg-single-produto .produto .imagem .navegacaoProdutodetalheTras{
								margin: 20px;
								right: 30px;
								border: 0;
								background: 0;
								font-size: 70px;
								position: absolute;
								top: 30%;
								color: #C93A7A;
								z-index: 1;
								outline: none;
							}
				.pg-single-produto .produto .info{
					border: 2px solid #c0c0c0;
					padding: 20px;
					text-align: center;					
					min-width: 275px;
					max-width: 320px;
					margin: 0 auto;
				}
					.tem-estoque{
						color: #8FAE1B;
					}
					.zero-estoque{
						color:red;
					}
					.pg-single-produto .produto .info .nome{
						color: #666666;
						font-size: 15px;
						font-weight: 700;
						font-family: 'gotham_bookregular';
					}
					.pg-single-produto .produto .info .valor{
						color: #c93a7a;
						border-bottom: 1px solid #c0c0c0;
						font-size: 15px;
						font-weight: 300;
						padding-bottom: 15px;
					}
						.pg-single-produto .produto .info .valor b {
							font-weight: 700;
						}
					.pg-single-produto .produto .info .descricao{
						padding: 15px 0;
					}
						.pg-single-produto .produto .info .descricao p{
							color: #666666;
							font-size: 13px;
							font-family: 'gotham_bookregular';
						}
					.pg-single-produto .produto .info .panel-group{
						border-top: 1px solid #c0c0c0;
						text-align: left;
						margin-bottom: 5px;
					}
						.pg-single-produto .produto .info .panel-group .panel-title{
							position: relative;
						}
							.pg-single-produto .produto .info .panel-group .panel-title a {
								color: #969696;
								font-size: 14px;
								font-weight: 600;
								font-family: 'gotham_bookregular';

							}
								.pg-single-produto .produto .info .panel-group .panel-title a i {
									color: #c93a7a;
									position: absolute;
									right: 0;
									font-size: 28px;
									font-weight: lighter;
									line-height: 65%;

								}
			.pg-single-produto .outros-modelos{
				text-align: center;
				margin: 60px 0;
			}
				.pg-single-produto .outros-modelos .titulo{
					color: #666666;
					margin: 5px 0 40px 0;
					font-weight: 700;
					font-size: 16px;
					font-family: 'gotham_bookregular';
				}
				.pg-single-produto .outros-modelos #carrossel-outros{
					text-align: center;
					margin-bottom: 65px;
				}
					.pg-single-produto .outros-modelos #carrossel-outros .item{
						display: inline-block;
						width: 100%;
						max-width: 275px;
						
					}
						.pg-single-produto .outros-modelos #carrossel-outros .item .foto{
							height: 200px;
						}
							.pg-single-produto .outros-modelos #carrossel-outros .item .foto img {								
    							max-height: 200px;
    							position: absolute;
    							top: 50%;
								left: 50%;
								-webkit-transform: translate(-50%,-50%);
									-ms-transform: translate(-50%,-50%);
									 -o-transform: translate(-50%,-50%);
			    						transform: translate(-50%,-50%);
							}
						.pg-single-produto .outros-modelos #carrossel-outros .item .row{
							position: relative;
						}
							.pg-single-produto .outros-modelos #carrossel-outros .item .lupa{
								/*position: absolute;
								right: 0;
								top: 10px;*/
							}
								.pg-single-produto .outros-modelos #carrossel-outros .item .lupa i {
									font-size: 24px;
									font-weight: lighter;
								}
							.pg-single-produto .outros-modelos #carrossel-outros .item .modelo{
								color: #666666;
								font-size: 15px;
								font-weight: 700;
								text-align: left;
							}
							.pg-single-produto .outros-modelos #carrossel-outros .item .valor{
								color: #c93a7a;								
								font-size: 15px;
								font-weight: 700;
								padding-bottom: 15px;
								text-align: left;
							}
								.pg-single-produto .outros-modelos   #carrossel-outros .owl-dots {
									position: absolute;
									bottom: -100px;
									left: 50%;
									-webkit-transform: rotate(90deg);
									-moz-transform: rotate(90deg);
									-o-transform: rotate(90deg);
									


								}
								.pg-single-produto .outros-modelos   #carrossel-outros .owl-dot span{
								    display: inline-block;
								    width: 12px;
								    height: 12px;
								    margin: 5px 7px;
								    border: 1px solid #545353;
								    border-radius: 20px;
								    background: #545353;
								}
									.pg-single-produto .outros-modelos  #carrossel-outros .owl-dot.active span{
										background-color:#c93a7a;
										border-color:#c93a7a;


									}	
									.pg-single-produto .outros-modelos .botoes-produtosingle{
										position: relative;
										width: 100%;
										max-width: 120px;
										margin: 0 auto;

									}
										.pg-single-produto .outros-modelos .botoes-produtosingle .navegacaoProdutosingleFrent{
											border: 0;
											background: 0;
											font-size: 30px;
											position: absolute;
											color: #C93A7A;
											left: 30px;
											top:-14px;
											outline: none;
											display: none;
										}	
										.pg-single-produto .outros-modelos .botoes-produtosingle .navegacaoProdutosingleTras{
											border: 0;
											background: 0;
											font-size: 30px;
											position: absolute;
											color: #C93A7A;
											right: 0;
											top:-14px;
											outline: none;
											display: none;
										}				
				.pg-single-produto .outros-modelos .paginador{}	

				.pg-single-produto .cores{
				    border: solid;
					width: 20px;
					height: 20px;
					display: block;
					border-radius: 100%;
				}
				.woocommerce div.product form.cart .variations{
					display: none;
				}
				.woocommerce div.product form.cart .variations select{
					max-width: 0!important; 
					 min-width:0!important; 
					 display: inline!important; 
					 margin-right: 0!important; 
					background: none!important;
					border: none!important;
					color: transparent!important;
					outline: none!important;
					height: 0!important;
					width: 0!important;
					margin: 0!important;
					padding: 0!important;
				}
				.woocommerce div.product form.cart .reset_variations{
					display: none!important;
				}
				.woocommerce div.product form.cart .woocommerce-variation-description p{
					display: none!important;
				}
				.woocommerce div.product .stock{
					display: none!important;
				}
				.info-campo{
					position: relative;
				}
				
				.qtd{
					top: 69%;
					right: 30px;
					color: #C93A7A;
					font-weight: bold;
					text-align: left;
					width: 100%;
					display: block;
				}
				.woocommerce .quantity .qty{
					
					color: #c93a7a!important;
					font-family: 'gotham_bookregular'!important;
					font-weight: bold!important;
					font-size: 17px!important;
					border: solid #ABABAB 1px!important;
					width: 50px!important;
					margin-bottom: 15px!important;
					
					right: 20px;
					top: 73%;
				}
				.woocommerce #respond input#submit.alt, .woocommerce a.button.alt, .woocommerce button.button.alt, .woocommerce input.button.alt{
					margin: 0!important;
				}
	
	/*PÁGINA DE ERRO*/
		.pg-404{
			font-family: 'gotham_bookregular';	
			font-size: 40px;
			text-align: center;
			display: block;
			margin: 30px auto 140px;
		}
			.pg-404 span{
				margin: 80px 30px;
				display: block;
				color: #717070!important;	
			}
			.pg-404 .pesquisa{
				position: relative;
				width: 100%;
				max-width: 840px;
			    margin: 0 auto 120px;
			    height: 55px;

			}
				.pg-404 .pesquisa input{
					width: 100%;
					line-height: 40px;
					height: 55px;
					font-size: 15px;

				}
					.pg-404 .pesquisa button{
						position: absolute;
						top: 0;
						right: 0;
						width: 100px;
						background: transparent;
						border: 0;
						color: #898989;
						font-size: 35px;
					    line-height: 70px;
					    color: #c93a7a;
					    height: 55px;
					    outline: none;

					}
			.pg-404 .links{
				text-align: center;
			}
			.pg-404 a{
				width: 100%!important;
				max-width: 275px!important;
				min-height: 55px!important;
				text-align: center!important;
				border:solid 2px #666!important;									
				font-size: 16px!important;	
				display: inline-block!important;
				background: transparent!important;
				color: #717070!important;	
				padding: 15px 0!important;
				font-family: 'gotham_bookregular';
				text-transform: uppercase!important;
				font-weight: bold!important;
				letter-spacing: 1px!important;
			
			}
				.pg-404 a:hover{
					background: #666!important;
					color:#fff!important;
				}
				.pg-404 a i{
					font-size: 25px;
					margin: 1px;
					display: inline-block;
					color: #c93a7a;
				}
				.pg-404 a:hover i{
					color:#fff;
				}	
	
	/* WIDGET */
		.woocommerce .widget_price_filter .ui-slider .ui-slider-range,.woocommerce .widget_price_filter .ui-slider .ui-slider-handle{
		    background-color: #C93A7A!important;
		}
		.woocommerce .woocommerce-ordering select{
			vertical-align: top;
			margin: 20px;
			border: 0;
			border-bottom: solid 2px #C93A7A;
			color: #666666;
			outline: none;
			font-family: 'gotham_bookregular';
		}
		.woocommerce .woocommerce-ordering, .woocommerce .woocommerce-result-count{
		        margin: 0 auto 50px;
			font-family: 'gotham_bookregular';
			color: #C93A7A;	
		}
		.woocommerce .woocommerce-ordering, .woocommerce .woocommerce-result-count{
		    padding: 0 0 0 50px;
	        margin-top: 20px;
		}
		.correcao-sidebar{
		    padding: 90px 10px 0 50px;
		}
			#woocommerce_price_filter-2{
				margin-bottom: 40px;
			}	
				.widget-title{
					font-size: 20px;
					font-family: 'gotham_bookregular';
				}
				.woocommerce .widget_price_filter .price_slider_amount .button{
					border:solid 2px #666!important;
					background: transparent!important;
					font-family: 'gotham_bookregular';
				}
					.woocommerce .widget_price_filter .price_slider_amount .button:hover{
						background: #666!important;
						color:#fff!important;
					}
			#woocommerce_recently_viewed_products-2{
				margin-bottom: 40px;	
			}

			button .wc-forward{
				background: red;
			}
			.correcao-sidebar .categoria{
				
			}
				.correcao-sidebar .categoria .titulo-cat-marc{
					font-family: 'gotham_bookregular';
					border-bottom: solid 1px;
					font-size: 17px;
					color: #C93A7A;	
				}
					.correcao-sidebar .categoria .titulo-cat-marc span{
						
					}
						.correcao-sidebar .categoria .titulo-cat-marc span i{
						   font-size: 25px;
					       margin: 0 5px;
						}
				.lista-categorias{
					list-style: none;
					margin: 0;
					padding: 0;
				    border-bottom: solid 1px #C93A7A;
				}
					.lista-categorias li {
				    	margin: 10px;
						padding: 0;
					}
						.lista-categorias li a{
							color: #666666;
						}
							.lista-categorias li a:hover{
								text-decoration: underline!important;
							}
							.lista-categorias li a h3{
								margin: 0;
							    padding: 0 0 0 5px;
								font-size: 16px;
								color: #666666;
								font-family: 'gotham_bookregular';
							}

	/*PÁGINA CONFIRMAÇÃO DE PAGAMENTO*/
		.woocommerce h2{
			font-size: 23px;
		}
		.woocommerce table.shop_table{
		    border: 2px solid rgba(0, 0, 0, 0.17);
		}
		.woocommerce-thankyou-order-received{
			text-align: center;
			color: #C93A7A;
			font-size: 18px;
			margin: 20px;
		}
		.woocommerce .order_details{
		    margin-left: 20%;
		}

	/* @MEDIA */
		@media (max-width: 1199px) {
			.rodape .assinar{
				display: block;
			}

			
		}/* @MEDIA */
		@media (max-width: 991px) {
			.topo{
				height: auto;
			}
			 .rodape .assinar{
        	    display: inherit;
				
	        }
	        .rodape .form{
				position: inherit;
				width: 100%;
				text-align: center;
				max-width: 725px;
				margin: 0 auto!important;      
			}
	        .topo .redes-sociais{
	        	text-align: center;
	        }
	        .topo .navbar .navbar-collapse ul{
				width: 100%!important;
				display: block!important;
				text-align: center!important;
	        }
	        .topo .btn-info{
        	    right: 67px!important;
	        }
	        .rodape .nav ul{
	        	width: 100%;
	        	text-align: center;
	        }
	        #text-pesquisa{

				text-align: center;
				display: block;
				width: 100%;
	        }
	        .campo-pesquisa #yith-searchsubmit{
			    left: 50%!important;
			}
			.correcao-sidebar{
			    padding: 90px 10px 0 10px;
			}
			.woocommerce-cart .cart-collaterals .cart_totals tr td, .woocommerce-cart .cart-collaterals .cart_totals tr th{
				width: 100%!important;
			}
			.topo .navbar .navbar-collapse ul li a{
			   padding: 15px 5px 15px 20px;
			}
			@media (max-width: 974px) {
				.rodape .form .botao-novidades{
					position: inherit;
				}
			}

			
		}
		@media (max-width: 768px) {
			.topo .btn-info{
				position: initial;
				display: block;
				text-align: right;
				width: 100%;
				margin: 10px 0;
				padding: 0 30px 0 0px;
				
			}
			.campo-pesquisa #yith-searchsubmit{
			    position: inherit;
			    display: block;
			    margin: 0 auto;
			    text-align: center;
		        margin-bottom: 15px;
			}
			.campo-pesquisa .yith-s{
				font-size: 15px!important;
			}
			.topo .navbar .navbar-collapse ul li{
		        margin: 0; 
		        z-index: 2;
		        background: #fff!important;
		        /* width: 100%; */
		      }


		      .topo .navbar .navbar-collapse ul{
		          margin-top:84px;
		          background: #fff!important;
		         
		        
		        }
		        .woocommerce .woocommerce-error, .woocommerce .woocommerce-info, .woocommerce .woocommerce-message{
		        	/*z-index: -1;*/
		        }
		        .topo .navbar .navbar-collapse ul li a{
		        	text-align: left;


		        }
		        .pg-inicial .carrossel-topo .owl-Carousel .item .info{
					position: initial;
					margin: 0 auto;
					margin-top: 170px;
		        }
		        .pg-inicial .carrossel-topo .owl-Carousel .item .info a{
	        	    margin: 30px auto 40px;
		        }
		        .pg-inicial .carrossel-topo .owl-Carousel .item{
		        	height: 650px;
		        }
		        .pg-inicial .produtos li{
		        	margin:40px 0;
		        }
		        .pg-inicial .produtos ul{
		        	padding: 0;
		        }
		        .rodape .assinar{
		        	position: initial;
		        	display: inline-block;
		        	text-align: center;
		        }
		        .rodape .nav ul{
		        	text-align: center;
		        	display: block;
		        }
		        .rodape .redes-sociais{
		        	text-align: center;
		        }
		        .pg-quem-somos .foto{
		        	min-height: 500px;
		        }
		        .pg-quem-somos .foto .frase{
		        	top:100px;
		        }
		        .pg-quem-somos .foto .frase p{
	        	    font-size: 30px;
        	        padding: 20px 0 0;
        	        line-height: 35px;
		        }
		      
		}
		@media (max-width: 767px) {

			.topo .navbar .navbar-collapse ul li {
				margin: 0;
				z-index: 2;
				background: #fff!important;
				 width: 100%; 
			}

			 .woocommerce .cart-collaterals .cart_totals, .woocommerce-page .cart-collaterals .cart_totals{
		    	width: 100%!important;
		    }
		    .topo .navbar .navbar-collapse{
				z-index: 9999!important;
				position: absolute;
			    width: 100%;
			}
				
			
		}
		@media (max-width: 554px) {
			.rodape .assinar{
	        	display: block;
	        	margin: 10px;
		    }
		    .rodape .form .input-novidades{
				margin: 0 0 0 50px;
				width: 100%;
				max-width: 260px;
		    }
		}
		@media (max-width: 492px){
			.rodape .nav ul {
				display: none;
			}
		}
		@media (max-width: 410px){
			.pg-blog .post .titulo-post span{
				position: initial;
			}
		}

		@media (max-width: 440px){
			 .woocommerce-page ul.products li.product{
		    	margin:20px 0!important;
		    	max-width: 285px!important;
		    }
		    .woocommerce ul.products li.product .onsale{
		    	right: 25px;
		    }
		    #link-modal img{
		    	top:-40px;
		    }
		    .pg-inicial .carrossel-topo #carrossel-inicial .owl-dots{
		    	display: none!important;
		    }
		    .pg-single-produto .outros-modelos #carrossel-outros .owl-dot span{
		    	display: none!important;
		    }
		    .pg-404 .pesquisa button{
		    	position: inherit;
		    }

		}		
		@media (max-width: 350px){
			.rodape .form .input-novidades{
				margin: 0 0 0 50px;
				width: 100%;
				max-width: 220px;
		    }
		    		   
		}
	
	/*ARQUIVOS ESCONDIDOS*/
		#secondary{
			display: none!important;
		}
		.post-edit-link{
			display: none!important;
		}
		.page-title{
			display: none;
		}
				#mymodal{
			padding: 0 19px!important;
		}
		.vertical-alignment-helper {
			display:table;
			height: 100%;
			width: 100%;
			max-width: 760px;
			margin: 0 auto;
			pointer-events:none; /* This makes sure that we can still click outside of the modal to close it */
		}
		.vertical-align-center {
			/* To center vertically */
			display: table-cell;
			vertical-align: middle;
			pointer-events:none;
		}
		.modal-content {
			/* Bootstrap sets the size of the modal in the modal-dialog class, we need to inherit it */
			width:inherit;
			height:inherit;
			/* To center horizontally */
			margin: 0 auto;
			pointer-events: all;
		}
		/*CORRECÃO */
		.coresProduto{
			opacity: 0;
		}
		#myModal .coresProduto{
			opacity: 1;
		}
		div.wpcf7-validation-errors{
			border: 2px solid #C93A7A;
		}

